openapi: 3.1.0
info:
  title: derivatives-api
  version: '2'
servers:
  - url: https://api.amberdata.com/markets/derivatives
security:
  - sec0: []
paths:
  /analytics/instruments/information:
    get:
      summary: Options Instruments
      description: >-
        This endpoint returns all available exchanges, currencies and option
        instruments. If a timestamp is used we can then filter the information
        for historical data.
      operationId: derivatives-information-instruments
      parameters:
        - name: exchange
          in: query
          description: >-
            **[Optional]** The exchange for which to retrieve listed option
            instruments. 

            **[Examples]** ` deribit | okex | bybit `
          schema:
            type: string
        - name: currency
          in: query
          description: >-
            **[Optional]** The underlying currency for which there are listed
            option instruments. 

            **[Examples]** ` BTC | SOL_USDC `  

            Note: inverse options underlying currencies are formatted as (BTC,
            ETH) while linear options currency formats include the stable coin 
            (SOL_USDC)
          schema:
            type: string
        - name: expiration
          in: query
          description: >-
            **[Optional]** Filter records based on the specified expiration
            date. 

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: putCall
          in: query
          description: |-
            **[Optional]** The option type 
            **[Examples]** ` C | P `
          schema:
            type: string
        - name: strike
          in: query
          description: >-
            **[Optional]** The option instrument subset with a given strike
            price. 

            **[Examples]** ` 100000 | 3500 `
          schema:
            type: integer
            format: int32
        - name: timestamp
          in: query
          description: >-
            **[Optional]**  A select historical timestamp for which a list of
            option instruments were active at the time. 

            **[Examples]** `  2024-04-03T08:00:00.000Z ` 

            Supported Formats: milliseconds | ms* | iso | iso8601 | hr |
            human_readable
          schema:
            type: string
            format: date-time
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            ts:
                              type: string
                              example: '2024-04-08 17:23:00.0'
                              description: >-
                                Timestamp when the instrument information was
                                recorded
                            exchange:
                              type: string
                              example: deribit
                              description: >-
                                The exchange where the option instrument is
                                listed
                            instrument:
                              type: string
                              example: DERIBIT-ETH-28MAR25-2000.0-P
                              description: >-
                                The full instrument identifier normalized by
                                Amberdata
                            nativeInstrument:
                              type: string
                              example: ETH-28MAR25-2000-P
                              description: >-
                                The native instrument identifier provided by the
                                exchange
                            multiplier:
                              type: integer
                              example: 1
                              description: >-
                                The contract multiplier for the option
                                instrument
                            putCall:
                              type: string
                              example: P
                              description: The option type - P for Put, C for Call
                            expiration:
                              type: string
                              example: '2025-03-28 08:00:00.0'
                              description: >-
                                The expiration date and time of the option
                                contract
                            currency:
                              type: string
                              example: ETH
                              description: The underlying currency/asset for the option
                            strike:
                              type: integer
                              example: 2000
                              description: The strike price of the option contract
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - ts: '2024-04-08 17:23:00.0'
                          exchange: deribit
                          instrument: DERIBIT-ETH-28MAR25-2000.0-P
                          nativeInstrument: ETH-28MAR25-2000-P
                          multiplier: 1
                          putCall: P
                          expiration: '2025-03-28 08:00:00.0'
                          currency: ETH
                          strike: 2000
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/trade-aggregation-information:
    get:
      summary: (new) Information Perpetuals and Futures
      description: >-
        This endpoint provides instrument information for each exchange. Users
        can also query it to view the dataset's start and end dates. Optional
        parameters, such as exchange or currency, can be used to filter the
        dataset for specific information.
      operationId: derivatives-futures-perpetuals-information
      parameters:
        - name: currency
          in: query
          description: >-
            **[Optional]** The underlying currency for which there are futures
            contracts/instruments. 

            **[Examples]** ` BTC | ETH `
          schema:
            type: string
            default: BTC
        - name: exchange
          in: query
          description: >-
            **[Optional]** The underlying exchange for which there are futures
            contracts/instruments. 

            **[Examples]** ` binance | deribit | bitmex `
          schema:
            type: string
            default: binance
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
            default: hr
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
              examples:
                Result:
                  value: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - endDate: 2025-04-18 00:00:00 000
                          exchange: binance
                          instrument: 1000000MOGUSDT
                          startDate: 2024-11-07 00:00:00 000
                        - endDate: 2025-04-18 00:00:00 000
                          exchange: binance
                          instrument: 1000BONKUSDC
                          startDate: 2024-05-02 00:00:00 000
                        - endDate: 2025-04-18 00:00:00 000
                          exchange: binance
                          instrument: 1000BONKUSDT
                          startDate: 2023-11-22 00:00:00 000
                        - endDate: 2022-04-11 00:00:00 000
                          exchange: binance
                          instrument: 1000BTTCUSDT
                          startDate: 2022-01-26 00:00:00 000
                        - endDate: 2025-04-18 00:00:00 000
                          exchange: binance
                          instrument: 1000CATUSDT
                          startDate: 2024-10-21 00:00:00 000
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/depth/information:
    get:
      summary: Futures Depth Instruments
      description: >-
        This endpoint returns all available exchanges and futures/perpetual
        instruments with order book depth data.
      operationId: derivatives-information-instruments
      parameters:
        - name: exchange
          in: query
          description: >-
            **[Optional]** The exchange for which to retrieve listed futures and
            perpetual instruments depth data. 

            **[Examples]** ` deribit | okex | bybit `
          schema:
            type: string
            default: deribit
        - name: instrument
          in: query
          description: |-
            **[Optional]** The instrument for which there is depth data. 
            **[Examples]** ` BTC-PERPETUAL` 
          schema:
            type: string
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
            default: hr
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            endDate:
                              type: string
                              example: '2024-04-08 17:23:00.0'
                              description: >-
                                Timestamp when the instrument information was
                                last recorded
                            exchange:
                              type: string
                              example: deribit
                              description: The exchange where the instrument is listed
                            instrument:
                              type: string
                              example: BTC-PERPETUAL
                              description: The full instrument identifier
                            startDate:
                              type: string
                              example: '2024-04-08 17:23:00.0'
                              description: >-
                                Timestamp when the instrument information was
                                first recorded
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - endDate: 2025-10-24 00:02:00 000
                          exchange: deribit
                          instrument: BTC-PERPETUAL
                          startDate: 2025-06-01 00:00:00 000
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/trade-aggregation:
    get:
      summary: (new) Trade Aggregation Currency
      description: >-
        This endpoint summarizes all trading activity for a specific underlying
        coin on a specific exchange. For example, while Binance offers multiple
        BTC futures and perpetual contracts, this endpoint aggregates all
        related statistics into a single, easy-to-use value. The data also
        features dynamic granularity based on the selected date range.
      operationId: derivatives-futures-perpetuals-trade-aggregation
      parameters:
        - name: currency
          in: query
          description: >-
            **[Optional]** The underlying currency for which there are futures
            contracts/instruments. 

            **[Examples]** ` BTC | ETH `
          schema:
            type: string
            default: BTC
        - name: exchange
          in: query
          description: >-
            **[Optional]** The underlying exchange for which there are futures
            contracts/instruments. 

            **[Examples]** ` binance | deribit | bitmex `
          schema:
            type: string
            default: binance
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
            default: hr
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - averageUnderlyingPrice: 84017.17281987873
                          buyLiquidationsUsd: 23477420.25731384
                          exchange: binance
                          openInterestCoin: 106713.09638160991
                          openInterestUsd: 8965732660.838097
                          sellLiquidationsUsd: 3849213.6930378526
                          tss: 2025-03-19 00:00:00 000
                          volumeCoin: 300438.3414100124
                          volumeUsd: 25241980051.962738
                        - averageUnderlyingPrice: 85221.42787751833
                          buyLiquidationsUsd: 4175096.105497541
                          exchange: binance
                          openInterestCoin: 111396.42380859665
                          openInterestUsd: 9493362297.417788
                          sellLiquidationsUsd: 13837105.687016506
                          tss: 2025-03-20 00:00:00 000
                          volumeCoin: 287203.7676573761
                          volumeUsd: 24475915171.56461
                        - averageUnderlyingPrice: 84096.31818809925
                          buyLiquidationsUsd: 2667630.0910991565
                          exchange: binance
                          openInterestCoin: 105364.36328984518
                          openInterestUsd: 8860755020.909304
                          sellLiquidationsUsd: 4671223.616294775
                          tss: 2025-03-21 00:00:00 000
                          volumeCoin: 171565.14556106713
                          volumeUsd: 14427997071.091063
                        - averageUnderlyingPrice: 84137.94643596424
                          buyLiquidationsUsd: 908063.8057317486
                          exchange: binance
                          openInterestCoin: 105646.95853479617
                          openInterestUsd: 8888918138.323215
                          sellLiquidationsUsd: 1035958.0064099494
                          tss: 2025-03-22 00:00:00 000
                          volumeCoin: 62107.256121741666
                          volumeUsd: 5225576988.855812
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/trade-aggregation-instrument:
    get:
      summary: (new) Trade Aggregation Instrument
      description: >-
        This endpoint summarizes all trading activity for a specific instrument
        contract on a specific exchange. The endpoint features detailed
        statistics and metrics. This enables users to dig into the specifics.
        The data also features dynamic granularity based on the selected date
        range.
      operationId: derivatives-futures-perpetuals-trade-aggregation-instruments
      parameters:
        - name: instrument
          in: query
          description: >-
            **[Require]** The underlying instrument symbol for the
            future/perpetual contracts. 

            **[Examples]** ` BTCBUSD | BTCUSDT `
          required: true
          schema:
            type: string
            default: BTCBUSD
        - name: exchange
          in: query
          description: >-
            **[Required]** The underlying exchange for which there are futures
            contracts/instruments. 

            **[Examples]** ` binance | deribit | bitmex `
          required: true
          schema:
            type: string
            default: binance
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
            default: hr
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - averagePrice: 42233.54522460341
                          btcPrice: 43743.77342853462
                          buyLiquidations: 0.254
                          buyLiquidationsPrice: 20578.699999999997
                          buyNumberOrders: null
                          buyVolume: 435.00999999999993
                          closePrice: null
                          exchange: binance
                          expirationTimestamp: 1970-01-01 00:00:00 000
                          highPrice: null
                          instrument: BTCBUSD
                          liquidationsMultiplier: 42761.811023622045
                          longAccount: 0.5214
                          lowPrice: null
                          multiplier: 42614.02289051534
                          openInterest: 666.166
                          openPrice: null
                          sellLiquidations: 5.494999999999999
                          sellLiquidationsPrice: 42550.2
                          sellNumberOrders: null
                          sellVolume: 435.83199999999977
                          shortAccount: 0.4786
                          timestampBucket: 2023-12-11 00:00:00 000
                          totalVolume: 870.8419999999998
                          type: swaps
                          underlying: BTC
                        - averagePrice: 43637.076917930455
                          btcPrice: 43380.72502255058
                          buyLiquidations: 3.9959999999999996
                          buyLiquidationsPrice: 44191.973333333335
                          buyNumberOrders: null
                          buyVolume: 1763.8819999999996
                          closePrice: null
                          exchange: binance
                          expirationTimestamp: 1970-01-01 00:00:00 000
                          highPrice: null
                          instrument: BTCBUSD
                          liquidationsMultiplier: 43943.478668073214
                          longAccount: 0.5104
                          lowPrice: null
                          multiplier: 43637.07588598645
                          openInterest: 1768.982
                          openPrice: null
                          sellLiquidations: 0
                          sellLiquidationsPrice: 0
                          sellNumberOrders: null
                          sellVolume: 2097.144
                          shortAccount: 0.4896
                          timestampBucket: 2023-12-08 00:00:00 000
                          totalVolume: 3861.0259999999994
                          type: swaps
                          underlying: BTC
                        - averagePrice: 44010.291134692125
                          btcPrice: 44249.35620413479
                          buyLiquidations: 0.31
                          buyLiquidationsPrice: 29386.666666666668
                          buyNumberOrders: null
                          buyVolume: 674.5449999999997
                          closePrice: null
                          exchange: binance
                          expirationTimestamp: 1970-01-01 00:00:00 000
                          highPrice: null
                          instrument: BTCBUSD
                          liquidationsMultiplier: 43809.52380952381
                          longAccount: 0.4917
                          lowPrice: null
                          multiplier: 44010.29183507128
                          openInterest: 1356.808
                          openPrice: null
                          sellLiquidations: 0.005
                          sellLiquidationsPrice: 14611.766666666668
                          sellNumberOrders: null
                          sellVolume: 730.645
                          shortAccount: 0.5083
                          timestampBucket: 2023-12-09 00:00:00 000
                          totalVolume: 1405.1899999999996
                          type: swaps
                          underlying: BTC
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/apr-basis/live-term-structures-decorated:
    get:
      summary: (new) Apr-Basis Live Term Structure Decorated
      description: >-
        This endpoint returns the current quoted futures prices along with the
        differential to spot and the annualized apr of the spot differential.
        The data also features dynamic granularity based on the selected date
        range.
      operationId: derivatives-futures-perpetuals-apr-basis-live
      parameters:
        - name: asset
          in: query
          description: >-
            **[Required]** The underlying currency for which there are futures
            contracts/instruments. 

            **[Examples]** ` BTC | ETH `
          required: true
          schema:
            type: string
            default: BTC
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
            default: hr
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - apr: 0.02901788055896759
                          basisUsd: 43.989070892333984
                          exchange: deribit
                          expirationTimestamp: 2025-04-25 08:00:00 000
                          instrument: BTC-25APR25
                          marginType: inverse
                          openInterestUsd: 101781712
                          quoteAsset: USD
                          symbol: deribit_2025-04-25-BTC-USD
                          timestamp: 2025-04-18 18:59:00 000
                          volume24hUsd: 7180720
                        - apr: 0.044346269220113754
                          basisUsd: 67.22272491455078
                          exchange: okex
                          expirationTimestamp: 2025-04-25 08:00:00 000
                          instrument: BTC-USD-250425
                          marginType: inverse
                          openInterestUsd: 30002300
                          quoteAsset: USD
                          symbol: okex_2025-04-25-BTC-USD
                          timestamp: 2025-04-18 18:59:00 000
                          volume24hUsd: 1901600
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/apr-basis/constant-days-to-expiration:
    get:
      summary: Apr-Basis Constant Maturity Decorated
      description: >-
        This endpoint returns the quoted futures basis for various exchanges,
        interpolated to reflect a constant days to expiration (DTE). The data
        also features dynamic granularity based on the selected date range.
      operationId: derivatives-futures-perpetuals-apr-basis-constant-maturity-decorated
      parameters:
        - name: asset
          in: query
          description: >-
            **[Required]** The underlying currency for which there are futures
            contracts/instruments. 

            **[Examples]** ` BTC | ETH `
          required: true
          schema:
            type: string
            default: BTC
        - name: startDate
          in: query
          description: |-
            Payload only includes data after this date (inclusive). 
            **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: false
          schema:
            type: string
            default: '2025-11-01'
        - name: endDate
          in: query
          description: |2-
             Payload only includes data before this date (exclusive). 
            **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: false
          schema:
            type: string
            default: '2025-11-10'
        - name: interval
          in: query
          description: >-
            **[Required]** This interval parameter filters for the selected
            constant maturity DTE (Days To Expiration). 

            **[Examples]** ` 7D | 30D | 90D |180D`
          required: true
          schema:
            type: string
            default: 30D
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
            default: hr
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            apr:
                              type: number
                              example: 11.03
                              description: >-
                                The annualized percentage rate of the spot
                                differential
                            basis:
                              type: number
                              example: 462.6
                              description: >-
                                The absolute dollar value differential between
                                the spot price and futures price
                            daysToExpiration:
                              type: number
                              example: 30
                              description: The days to maturity value
                            symbol:
                              type: string
                              example: bybit_BTC-USDT-linear
                              description: >-
                                The instrument name, including exchange and
                                contract type
                            timestamp:
                              type: string
                              example: '1704067200000'
                              description: Timestamp for the basis and APR data point
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - apr: 5.140000000000001
                          basis: 462.6
                          daysToExpiration: 30
                          symbol: bybit_BTC-USDT-linear
                          timestamp: 2025-11-01 00:00:00 000
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/apr-basis/floating:
    get:
      summary: (new) Apr-Basis Floating
      description: ''
      operationId: derivatives-futures-perpetuals-apr-basis-floating
      parameters:
        - name: asset
          in: query
          description: >-
            **[Required]** The underlying currency for which there are futures
            contracts/instruments. 

            **[Examples]** ` BTC | ETH `
          required: true
          schema:
            type: string
            default: BTC
        - name: expiration
          in: query
          description: >-
            **[Required]** The expiration date for which there are futures
            contract terminates trading. 

            **[Examples]** ` 2025-06-27 `
          required: true
          schema:
            type: string
            default: '2025-06-27'
        - name: startDate
          in: query
          description: >-
            **[Required]** Payload only includes data after this date
            (inclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            default: '2025-03-01'
        - name: endDate
          in: query
          description: >-
            **[Required]** Payload only includes data before this date
            (exclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            default: '2025-04-01'
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
            default: hr
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - apr: 4.580758139491081
                          basisUSD: 904.2110595703125
                          symbol: binance_2025-06-27-BTC-USD
                          timestamp: 2025-04-01 00:00:00 000
                        - apr: 4.034305363893509
                          basisUSD: 804.5679321289062
                          symbol: okex_2025-06-27-BTC-USDT
                          timestamp: 2025-03-31 00:00:00 000
                        - apr: 4.055134952068329
                          basisUSD: 808.29296875
                          symbol: okex_2025-06-27-BTC-USD
                          timestamp: 2025-03-31 00:00:00 000
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/apr-basis/constant-maturities:
    get:
      summary: Apr-Basis Constant Maturity
      description: >-
        This endpoint returns the quoted futures basis for various exchanges,
        interpolated to reflect a constant days to expiration (DTE).
      operationId: derivatives-futures-perpetuals-apr-basis-constant-maturities
      parameters:
        - name: asset
          in: query
          description: >-
            **[Required]** The underlying currency for which there are futures
            contracts/instruments. 

            **[Examples]** ` BTC | ETH `
          required: true
          schema:
            type: string
            default: BTC
        - name: interval
          in: query
          description: >-
            **[Required]** This interval parameter filters for the selected
            constant maturity DTE (Days To Expiration). 

            **[Examples]** ` 7D | 30D | 90D |180D`
          required: true
          schema:
            type: string
            default: 30D
        - name: startDate
          in: query
          description: >-
            **[Required]** Payload only includes data after this date
            (inclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            format: date-time
            default: '2024-05-21'
        - name: endDate
          in: query
          description: >-
            **[Required]** Payload only includes data before this date
            (exclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            default: '2024-06-01'
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            timestamp:
                              type: string
                              example: '1704067200000'
                              description: Timestamp for the basis and APR data point
                            symbol:
                              type: string
                              example: bybit_BTC-USDC
                              description: The exchange and trading pair symbol
                            basisUSD:
                              type: number
                              example: 293.8
                              description: The futures basis in USD terms
                            apr:
                              type: number
                              example: 36.11
                              description: >-
                                The annualized percentage rate (APR) for the
                                basis
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - timestamp: '1704067200000'
                          symbol: bybit_BTC-USDC
                          basisUSD: 293.8
                          apr: 36.11
                        - timestamp: '1704067200000'
                          symbol: deribit_BTC-USD
                          basisUSD: 296
                          apr: 36.38
                        - timestamp: '1704067200000'
                          symbol: huobi_BTC-USD
                          basisUSD: 283.9
                          apr: 34.89
                        - timestamp: '1704067200000'
                          symbol: okex_BTC-USD
                          basisUSD: 297.3
                          apr: 36.54
                        - timestamp: '1704067200000'
                          symbol: okex_BTC-USDC
                          basisUSD: 287
                          apr: 35.28
                        - timestamp: '1704067200000'
                          symbol: okex_BTC-USDT
                          basisUSD: 290.3
                          apr: 35.68
                        - timestamp: '1704070800000'
                          symbol: bybit_BTC-USDC
                          basisUSD: 300.9
                          apr: 36.86
                        - timestamp: '1704070800000'
                          symbol: deribit_BTC-USD
                          basisUSD: 301.6
                          apr: 36.96
                        - timestamp: '1704070800000'
                          symbol: huobi_BTC-USD
                          basisUSD: 280.7
                          apr: 34.4
                        - timestamp: '1704070800000'
                          symbol: okex_BTC-USD
                          basisUSD: 302.9
                          apr: 37.12
                        - timestamp: '1704070800000'
                          symbol: okex_BTC-USDC
                          basisUSD: 292.8
                          apr: 35.88
                        - timestamp: '1704070800000'
                          symbol: okex_BTC-USDT
                          basisUSD: 298.3
                          apr: 36.55
                        - timestamp: '1704074400000'
                          symbol: bybit_BTC-USDC
                          basisUSD: 306.6
                          apr: 37.57
                        - timestamp: '1704074400000'
                          symbol: deribit_BTC-USD
                          basisUSD: 305.6
                          apr: 37.44
                        - timestamp: '1704074400000'
                          symbol: huobi_BTC-USD
                          basisUSD: 277.3
                          apr: 33.98
                        - timestamp: '1704074400000'
                          symbol: okex_BTC-USD
                          basisUSD: 311
                          apr: 38.1
                        - timestamp: '1704074400000'
                          symbol: okex_BTC-USDC
                          basisUSD: 301.3
                          apr: 36.92
                        - timestamp: '1704074400000'
                          symbol: okex_BTC-USDT
                          basisUSD: 298.3
                          apr: 36.55
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/apr-basis/live-term-structures:
    get:
      summary: Apr-Basis Live Term Structure
      description: >-
        This endpoint returns the current quoted futures prices along with the
        differential to spot and the annualized apr of the spot differential.
      operationId: derivatives-futures-perpetuals-apr-basis-live-term-structures
      parameters:
        - name: asset
          in: query
          description: >-
            **[Required]** The underlying currency for which there are futures
            contracts/instruments. 

            **[Examples]** ` BTC | ETH `
          required: true
          schema:
            type: string
            default: BTC
        - name: marginType
          in: query
          description: >-
            **[Required]** This is the type of margin for the perpetuals.
            Perpetuals are either settled in stable coins or underlying currency
            coins.. 

            **[Examples]** `  coins | stables `
          required: true
          schema:
            type: string
            default: coins
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
            default: hr
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            exchange:
                              type: string
                              example: deribit
                              description: >-
                                The exchange where the futures contract is
                                listed
                            expirationTimestamp:
                              type: string
                              example: '1718928000000'
                              description: The expiration timestamp of the futures contract
                            marginType:
                              type: string
                              example: coins
                              description: The type of margin used (coins or stables)
                            price:
                              type: number
                              example: 65208
                              description: The current quoted futures price
                            basis:
                              type: number
                              example: 47
                              description: >-
                                The differential between futures price and spot
                                price
                            apr:
                              type: number
                              example: 11.03
                              description: >-
                                The annualized percentage rate of the spot
                                differential
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - exchange: deribit
                          expirationTimestamp: '1718928000000'
                          marginType: coins
                          price: 65208
                          basis: 47
                          apr: 11.03
                        - exchange: huobi
                          expirationTimestamp: '1718928000000'
                          marginType: coins
                          price: 65156
                          basis: -5
                          apr: -1.45
                        - exchange: okex
                          expirationTimestamp: '1718928000000'
                          marginType: coins
                          price: 65192
                          basis: 31
                          apr: 7.26
                        - exchange: binance
                          expirationTimestamp: '1719532800000'
                          marginType: coins
                          price: 65317
                          basis: 156
                          apr: 9.31
                        - exchange: bitmex
                          expirationTimestamp: '1719532800000'
                          marginType: coins
                          price: 65215
                          basis: 53
                          apr: 3.14
                        - exchange: bybit
                          expirationTimestamp: '1719532800000'
                          marginType: coins
                          price: 65290
                          basis: 128
                          apr: 7.66
                        - exchange: deribit
                          expirationTimestamp: '1719532800000'
                          marginType: coins
                          price: 65364
                          basis: 203
                          apr: 12.11
                        - exchange: huobi
                          expirationTimestamp: '1719532800000'
                          marginType: coins
                          price: 65299
                          basis: 138
                          apr: 8.54
                        - exchange: kraken
                          expirationTimestamp: '1719532800000'
                          marginType: coins
                          price: 65250
                          basis: 89
                          apr: 5.15
                        - exchange: okex
                          expirationTimestamp: '1719532800000'
                          marginType: coins
                          price: 65240
                          basis: 78
                          apr: 4.67
                        - exchange: bitmex
                          expirationTimestamp: '1721952000000'
                          marginType: coins
                          price: 65704
                          basis: 542
                          apr: 8.09
                        - exchange: deribit
                          expirationTimestamp: '1721952000000'
                          marginType: coins
                          price: 65859
                          basis: 697
                          apr: 10.45
                        - exchange: okex
                          expirationTimestamp: '1721952000000'
                          marginType: coins
                          price: 65772
                          basis: 610
                          apr: 9.14
                        - exchange: okex
                          expirationTimestamp: '1724976000000'
                          marginType: coins
                          price: 66361
                          basis: 1199
                          apr: 9.28
                        - exchange: binance
                          expirationTimestamp: '1727395200000'
                          marginType: coins
                          price: 67189
                          basis: 2028
                          apr: 11.32
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/realized-funding-rates-cumulated:
    get:
      summary: Funding Realized/Accumulated
      description: >-
        This endpoint returns funding realized/accumulated data, which refers to
        the payments made between traders holding long and short positions in
        perpetual futures contracts. Accumulated funding is the total series of
        payments made between selected dates.
      operationId: derivatives-futures-perpetuals-funding-realized-accumulated
      parameters:
        - name: asset
          in: query
          description: >-
            **[Required]** The underlying currency for which there are futures
            contracts/instruments. 

            **[Examples]** ` BTC | ETH `
          required: true
          schema:
            type: string
            default: BTC
        - name: marginType
          in: query
          description: >-
            **[Required]** This is the type of margin for the perpetuals.
            Perpetuals are either settled in stable coins or underlying currency
            coins.. 

            **[Examples]** `  coins | stables `
          required: true
          schema:
            type: string
            default: coins
        - name: startDate
          in: query
          description: >-
            **[Required]** Payload only includes data after this date
            (inclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            format: date-time
            default: '2024-05-21'
        - name: endDate
          in: query
          description: >-
            **[Required]** Payload only includes data before this date
            (exclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            default: '2024-06-01'
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            symbol:
                              type: string
                              example: binance BTCUSD_PERP
                              description: The exchange and perpetual contract symbol
                            timestamp:
                              type: string
                              example: 1704067200000
                              description: The timestamp for the funding data point
                            realizedFunding:
                              type: number
                              example: 0.037711
                              description: The realized funding payment for the period
                            accumulatedRealizedFunding:
                              type: number
                              example: 0.037711
                              description: >-
                                The cumulative total of realized funding
                                payments
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704067200000
                          realizedFunding: 0.037711
                          accumulatedRealizedFunding: 0.037711
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704096000000
                          realizedFunding: 0.020162
                          accumulatedRealizedFunding: 0.057873
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704124800000
                          realizedFunding: 0.028009999999999997
                          accumulatedRealizedFunding: 0.085883
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704153600000
                          realizedFunding: 0.059009000000000006
                          accumulatedRealizedFunding: 0.14489200000000002
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704182400000
                          realizedFunding: 0.036388000000000004
                          accumulatedRealizedFunding: 0.18128000000000002
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704211200000
                          realizedFunding: 0.033397
                          accumulatedRealizedFunding: 0.21467700000000003
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704240000000
                          realizedFunding: 0.01
                          accumulatedRealizedFunding: 0.22467700000000004
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704268800000
                          realizedFunding: 0.013201000000000001
                          accumulatedRealizedFunding: 0.23787800000000003
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704297600000
                          realizedFunding: 0.01
                          accumulatedRealizedFunding: 0.24787800000000004
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704326400000
                          realizedFunding: 0.01
                          accumulatedRealizedFunding: 0.25787800000000005
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704355200000
                          realizedFunding: 0.01
                          accumulatedRealizedFunding: 0.26787800000000006
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704384000000
                          realizedFunding: 0.01
                          accumulatedRealizedFunding: 0.27787800000000007
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704412800000
                          realizedFunding: -0.008453
                          accumulatedRealizedFunding: 0.2694250000000001
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704441600000
                          realizedFunding: 0.01
                          accumulatedRealizedFunding: 0.2794250000000001
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704470400000
                          realizedFunding: 0.01
                          accumulatedRealizedFunding: 0.2894250000000001
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704499200000
                          realizedFunding: -0.009720000000000001
                          accumulatedRealizedFunding: 0.2797050000000001
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704528000000
                          realizedFunding: 0.001185
                          accumulatedRealizedFunding: 0.2808900000000001
                        - symbol: binance BTCUSD_PERP
                          timestamp: 1704556800000
                          realizedFunding: 0.0012850000000000001
                          accumulatedRealizedFunding: 0.28217500000000006
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/funding-rates:
    get:
      summary: Funding Rates
      description: >-
        This endpoint returns funding realized/accumulated data, which refers to
        the payments made between traders holding long and short positions in
        perpetual futures contracts.  Accumulated funding is the total series of
        payments made between selected dates.
      operationId: derivatives-futures-perpetuals-funding-rates
      parameters:
        - name: underlying
          in: query
          description: >-
            **[Required]** The underlying currency for which there are futures
            contracts/instruments. 

            **[Examples]** ` BTC | ETH `
          required: true
          schema:
            type: string
            default: BTC
        - name: startDate
          in: query
          description: >-
            **[Required]** Payload only includes data after this date
            (inclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            default: '2025-01-01'
        - name: endDate
          in: query
          description: >-
            **[Required]** Payload only includes data before this date
            (exclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            default: '2025-02-01'
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
            default: hr
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            exchange:
                              type: string
                              example: binance
                              description: >-
                                The exchange where the funding rate is
                                calculated
                            fundingRateIntervalHours:
                              type: integer
                              example: 8
                              description: The funding rate interval in hours
                            fundingRateNormalized8h:
                              type: number
                              example: 0.00004817
                              description: The normalized funding rate for 8-hour intervals
                            instrument:
                              type: string
                              example: BTCUSDC
                              description: The perpetual contract instrument name
                            marginType:
                              type: string
                              example: linear
                              description: The type of margin used (linear or inverse)
                            quoteAsset:
                              type: string
                              example: USDC
                              description: The quote asset for the perpetual contract
                            realizedFunding:
                              type: number
                              example: 0.00004817
                              description: The realized funding payment for the period
                            realizedFundingCumulated:
                              type: number
                              example: 0.00004817
                              description: >-
                                The cumulative total of realized funding
                                payments
                            symbol:
                              type: string
                              example: binance_BTCUSDC
                              description: The exchange and instrument symbol
                            timestamp:
                              type: string
                              example: 2024-02-01 00:00:00 000
                              description: The timestamp for the funding rate data
                            underlying:
                              type: string
                              example: BTC
                              description: The underlying asset for the perpetual contract
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - exchange: binance
                          fundingRateIntervalHours: 8
                          fundingRateNormalized8h: 0.00004817
                          instrument: BTCUSDC
                          marginType: linear
                          quoteAsset: USDC
                          realizedFunding: 0.00004817
                          realizedFundingCumulated: 0.00004817
                          symbol: binance_BTCUSDC
                          timestamp: 2024-02-01 00:00:00 000
                          underlying: BTC
                        - exchange: binance
                          fundingRateIntervalHours: 8
                          fundingRateNormalized8h: 0.0001
                          instrument: BTCUSDT
                          marginType: linear
                          quoteAsset: USDT
                          realizedFunding: 0.0001
                          realizedFundingCumulated: 0.0001
                          symbol: binance_BTCUSDT
                          timestamp: 2024-02-01 00:00:00 000
                          underlying: BTC
                        - exchange: binance
                          fundingRateIntervalHours: 8
                          fundingRateNormalized8h: 0.0001
                          instrument: BTCUSD_PERP
                          marginType: inverse
                          quoteAsset: USD
                          realizedFunding: 0.0001
                          realizedFundingCumulated: 0.0001
                          symbol: binance_BTCUSD_PERP
                          timestamp: 2024-02-01 00:00:00 000
                          underlying: BTC
                        - exchange: bybit
                          fundingRateIntervalHours: 8
                          fundingRateNormalized8h: 0.0001
                          instrument: BTCPERP
                          marginType: linear
                          quoteAsset: USDC
                          realizedFunding: 0.0001
                          realizedFundingCumulated: 0.0001
                          symbol: bybit_BTCPERP
                          timestamp: 2024-02-01 00:00:00 000
                          underlying: BTC
                        - exchange: bybit
                          fundingRateIntervalHours: 8
                          fundingRateNormalized8h: 0.0001
                          instrument: BTCUSD
                          marginType: inverse
                          quoteAsset: USD
                          realizedFunding: 0.0001
                          realizedFundingCumulated: 0.0001
                          symbol: bybit_BTCUSD
                          timestamp: 2024-02-01 00:00:00 000
                          underlying: BTC
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/liquidations-total:
    get:
      summary: Liquidations Aggregate (Futures and Perpetuals)
      description: >-
        This endpoint returns the total aggregated liquidations for both futures
        and perpetuals for a selected time interval and exchange venue. The
        liquidations are split into "Buy-To-Close" and "Sell-To-Close" buckets.
        The endpoint is dynamic in terms of granularity. 1-day of data returns
        5-min, 7-days returns hourly, 30-days returns daily.
      operationId: derivatives-futures-perpetuals-liquidations-aggregates
      parameters:
        - name: asset
          in: query
          description: >-
            **[Required]** The underlying currency for which there are futures
            contracts/instruments. 

            **[Examples]** ` BTC | ETH `
          required: true
          schema:
            type: string
            default: btc
        - name: startDate
          in: query
          description: >-
            **[Required]** Payload only includes data after this date
            (inclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            format: date-time
            default: '2024-11-01'
        - name: endDate
          in: query
          description: >-
            **[Required]** Payload only includes data before this date
            (exclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            default: '2024-11-04'
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            timestamp:
                              type: string
                              example: 2024-11-05 00:00:00 000
                              description: The timestamp for the liquidation data point
                            exchange:
                              type: string
                              example: binance
                              description: The exchange where the liquidations occurred
                            buyLiquidationsUSD:
                              type: number
                              example: 407
                              description: The total USD value of buy-to-close liquidations
                            sellLiquidationsUSD:
                              type: number
                              example: 0
                              description: >-
                                The total USD value of sell-to-close
                                liquidations
                            averagePrice:
                              type: number
                              example: 67776.44798099755
                              description: The average price during the liquidation period
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - timestamp: 2024-11-05 00:00:00 000
                          exchange: binance
                          buyLiquidationsUSD: 407
                          sellLiquidationsUSD: 0
                          averagePrice: 67776.44798099755
                        - timestamp: 2024-11-05 00:00:00 000
                          exchange: bitmex
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67776.44798099755
                        - timestamp: 2024-11-05 00:00:00 000
                          exchange: bybit
                          buyLiquidationsUSD: 407
                          sellLiquidationsUSD: 0
                          averagePrice: 67776.44798099755
                        - timestamp: 2024-11-05 00:00:00 000
                          exchange: deribit
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67776.44798099755
                        - timestamp: 2024-11-05 00:00:00 000
                          exchange: huobi
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67776.44798099755
                        - timestamp: 2024-11-05 00:00:00 000
                          exchange: okex
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67776.44798099755
                        - timestamp: 2024-11-04 23:45:00 000
                          exchange: binance
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 21654
                          averagePrice: 67618.94900542521
                        - timestamp: 2024-11-04 23:45:00 000
                          exchange: bitmex
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67618.94900542521
                        - timestamp: 2024-11-04 23:45:00 000
                          exchange: bybit
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 51032
                          averagePrice: 67618.94900542521
                        - timestamp: 2024-11-04 23:45:00 000
                          exchange: deribit
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67618.94900542521
                        - timestamp: 2024-11-04 23:45:00 000
                          exchange: huobi
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 271
                          averagePrice: 67618.94900542521
                        - timestamp: 2024-11-04 23:45:00 000
                          exchange: okex
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 203
                          averagePrice: 67618.94900542521
                        - timestamp: 2024-11-04 23:30:00 000
                          exchange: binance
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67779.18988764042
                        - timestamp: 2024-11-04 23:30:00 000
                          exchange: bitmex
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67779.18988764042
                        - timestamp: 2024-11-04 23:30:00 000
                          exchange: bybit
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67779.18988764042
                        - timestamp: 2024-11-04 23:30:00 000
                          exchange: deribit
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67779.18988764042
                        - timestamp: 2024-11-04 23:30:00 000
                          exchange: huobi
                          buyLiquidationsUSD: 1970
                          sellLiquidationsUSD: 0
                          averagePrice: 67779.18988764042
                        - timestamp: 2024-11-04 23:30:00 000
                          exchange: okex
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67779.18988764042
                        - timestamp: 2024-11-04 23:15:00 000
                          exchange: binance
                          buyLiquidationsUSD: 4954
                          sellLiquidationsUSD: 2642
                          averagePrice: 67691.32767402376
                        - timestamp: 2024-11-04 23:15:00 000
                          exchange: bitmex
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67691.32767402376
                        - timestamp: 2024-11-04 23:15:00 000
                          exchange: bybit
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 105157
                          averagePrice: 67691.32767402376
                        - timestamp: 2024-11-04 23:15:00 000
                          exchange: deribit
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67691.32767402376
                        - timestamp: 2024-11-04 23:15:00 000
                          exchange: huobi
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 7231
                          averagePrice: 67691.32767402376
                        - timestamp: 2024-11-04 23:15:00 000
                          exchange: okex
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 4066
                          averagePrice: 67691.32767402376
                        - timestamp: 2024-11-04 23:00:00 000
                          exchange: binance
                          buyLiquidationsUSD: 16892
                          sellLiquidationsUSD: 25162
                          averagePrice: 67779.24759519029
                        - timestamp: 2024-11-04 23:00:00 000
                          exchange: bitmex
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67779.24759519029
                        - timestamp: 2024-11-04 23:00:00 000
                          exchange: bybit
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 204
                          averagePrice: 67779.24759519029
                        - timestamp: 2024-11-04 23:00:00 000
                          exchange: deribit
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67779.24759519029
                        - timestamp: 2024-11-04 23:00:00 000
                          exchange: huobi
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 3326
                          averagePrice: 67779.24759519029
                        - timestamp: 2024-11-04 23:00:00 000
                          exchange: okex
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67779.24759519029
                        - timestamp: 2024-11-04 22:45:00 000
                          exchange: binance
                          buyLiquidationsUSD: 307664
                          sellLiquidationsUSD: 0
                          averagePrice: 67746.61886792466
                        - timestamp: 2024-11-04 22:45:00 000
                          exchange: bitmex
                          buyLiquidationsUSD: 2021
                          sellLiquidationsUSD: 0
                          averagePrice: 67746.61886792466
                        - timestamp: 2024-11-04 22:45:00 000
                          exchange: bybit
                          buyLiquidationsUSD: 94311
                          sellLiquidationsUSD: 0
                          averagePrice: 67746.61886792466
                        - timestamp: 2024-11-04 22:45:00 000
                          exchange: deribit
                          buyLiquidationsUSD: 0
                          sellLiquidationsUSD: 0
                          averagePrice: 67746.61886792466
                        - timestamp: 2024-11-04 22:45:00 000
                          exchange: huobi
                          buyLiquidationsUSD: 555200
                          sellLiquidationsUSD: 0
                          averagePrice: 67746.61886792466
                        - timestamp: 2024-11-04 22:45:00 000
                          exchange: okex
                          buyLiquidationsUSD: 507007
                          sellLiquidationsUSD: 0
                          averagePrice: 67746.61886792466
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/open-interest-total:
    get:
      summary: Open Interest
      description: >-
        This endpoint returns the total asset open interest for both futures and
        perpetuals across the various exchanges. The open interest is returns in
        raw coin amounts and millions of dollars.
      operationId: derivatives-futures-perpetuals-open-interest-total
      parameters:
        - name: asset
          in: query
          description: >-
            **[Required]** The underlying currency for which there are futures
            contracts/instruments. 

            **[Examples]** ` BTC | ETH `
          required: true
          schema:
            type: string
            default: BTC
        - name: startDate
          in: query
          description: >-
            **[Required]** Payload only includes data after this date
            (inclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            format: date-time
            default: '2024-05-21'
        - name: endDate
          in: query
          description: >-
            **[Required]** Payload only includes data before this date
            (exclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            default: '2024-06-01'
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            exchange:
                              type: string
                              example: huobi
                              description: >-
                                The exchange where the open interest data is
                                from
                            timestamp:
                              type: string
                              example: 1715385600000
                              description: The timestamp for the open interest data point
                            coin:
                              type: number
                              example: 2422.5065079067244
                              description: The open interest amount in raw coin units
                            usd:
                              type: number
                              example: 147.31088485102083
                              description: The open interest amount in millions of USD
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - exchange: huobi
                          timestamp: 1715385600000
                          coin: 2422.5065079067244
                          usd: 147.31088485102083
                        - exchange: kraken
                          timestamp: 1715385600000
                          coin: 3127.0053168195695
                          usd: 190.48881954960004
                        - exchange: bitmex
                          timestamp: 1715385600000
                          coin: 6929.464631763672
                          usd: 372.08792198369997
                        - exchange: deribit
                          timestamp: 1715385600000
                          coin: 25049.827686538036
                          usd: 1547.513314212
                        - exchange: okex
                          timestamp: 1715385600000
                          coin: 43135.73797192597
                          usd: 2635.6437946363894
                        - exchange: bybit
                          timestamp: 1715385600000
                          coin: 76781.5822092026
                          usd: 4669.033820516301
                        - exchange: binance
                          timestamp: 1715385600000
                          coin: 111446.26808003098
                          usd: 6787.6393313128
                        - exchange: cme
                          timestamp: 1715385600000
                          coin: 133229.59999999995
                          usd: 8186.2328186800005
                        - exchange: huobi
                          timestamp: 1715299200000
                          coin: 2243.9724956417745
                          usd: 141.33601091870173
                        - exchange: kraken
                          timestamp: 1715299200000
                          coin: 3210.220565067225
                          usd: 203.0752266112
                        - exchange: bitmex
                          timestamp: 1715299200000
                          coin: 6749.902349060866
                          usd: 374.4837635761
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /analytics/futures-perpetuals/volumes:
    get:
      summary: Volumes
      description: >-
        This endpoint returns the rolling 24h volume for both futures and
        perpetuals of the underlying asset. The endpoint returns the USD volume
        in millions of dollars and the volume in units of underlying coins.
      operationId: derivatives-futures-perpetuals-volumes
      parameters:
        - name: asset
          in: query
          description: >-
            **[Required]** The underlying currency for which there are futures
            contracts/instruments. 

            **[Examples]** ` BTC | ETH `
          required: true
          schema:
            type: string
            default: BTC
        - name: startDate
          in: query
          description: >-
            **[Required]** Payload only includes data after this date
            (inclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            format: date-time
            default: '2024-05-21'
        - name: endDate
          in: query
          description: >-
            **[Required]** Payload only includes data before this date
            (exclusive). 

            **[Formats]** `seconds | milliseconds | iso8601`

            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          required: true
          schema:
            type: string
            default: '2024-06-01'
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.

            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            timestamp:
                              type: string
                              example: 1706659200000
                              description: The timestamp for the volume data point
                            exchange:
                              type: string
                              example: binance
                              description: The exchange where the volume data is from
                            underlying:
                              type: string
                              example: BTC
                              description: >-
                                The underlying asset for the futures/perpetuals
                                contracts
                            totalDailyVolume:
                              type: string
                              example: '370916.7'
                              description: The total daily volume in contract units
                            totalDailyVolumeMilUSD:
                              type: string
                              example: '15800.9'
                              description: The total daily volume in millions of USD
                            totalDailyVolumeNative:
                              type: string
                              example: '370916.7'
                              description: The total daily volume in native coin units
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      data:
                        - timestamp: 1706659200000
                          exchange: binance
                          underlying: BTC
                          totalDailyVolume: '370916.7'
                          totalDailyVolumeMilUSD: '15800.9'
                          totalDailyVolumeNative: '370916.7'
                        - timestamp: 1706659200000
                          exchange: bitmex
                          underlying: BTC
                          totalDailyVolume: '1128347366.9'
                          totalDailyVolumeMilUSD: '421.1'
                          totalDailyVolumeNative: '9901.8'
                        - timestamp: 1706659200000
                          exchange: bybit
                          underlying: BTC
                          totalDailyVolume: '168972.8'
                          totalDailyVolumeMilUSD: '7196.2'
                          totalDailyVolumeNative: '168972.8'
                        - timestamp: 1706659200000
                          exchange: deribit
                          underlying: BTC
                          totalDailyVolume: '13917.3'
                          totalDailyVolumeMilUSD: '593.7'
                          totalDailyVolumeNative: '13917.3'
                        - timestamp: 1706659200000
                          exchange: ftxus
                          underlying: BTC
                          totalDailyVolume: null
                          totalDailyVolumeMilUSD: null
                          totalDailyVolumeNative: null
                        - timestamp: 1706659200000
                          exchange: huobi
                          underlying: BTC
                          totalDailyVolume: '15451.3'
                          totalDailyVolumeMilUSD: '658.8'
                          totalDailyVolumeNative: '15451.3'
                        - timestamp: 1706659200000
                          exchange: kraken
                          underlying: BTC
                          totalDailyVolume: '3908651.8'
                          totalDailyVolumeMilUSD: '174.9'
                          totalDailyVolumeNative: '4107.2'
                        - timestamp: 1706659200000
                          exchange: okex
                          underlying: BTC
                          totalDailyVolume: '40064594.0'
                          totalDailyVolumeMilUSD: '6700.6'
                          totalDailyVolumeNative: '157175.2'
                        - timestamp: 1706572800000
                          exchange: binance
                          underlying: BTC
                          totalDailyVolume: '301377.0'
                          totalDailyVolumeMilUSD: '12927.0'
                          totalDailyVolumeNative: '301377.0'
                        - timestamp: 1706572800000
                          exchange: bitmex
                          underlying: BTC
                          totalDailyVolume: '1052392849.8'
                          totalDailyVolumeMilUSD: '400.2'
                          totalDailyVolumeNative: '9332.4'
                        - timestamp: 1706572800000
                          exchange: bybit
                          underlying: BTC
                          totalDailyVolume: '136513.9'
                          totalDailyVolumeMilUSD: '5853.9'
[...]
