openapi: 3.2.0
info:
  title: Market Metrics Supply API
  version: '2'
servers:
- url: https://api.amberdata.com/market/metrics
security:
- sec0: []
tags:
- name: Supply
paths:
  /{asset}/supply/latest:
    get:
      summary: Latest
      description: 'Retrieves latest supply data for blockchains and tokens.***Note**: We get supply values directly from our data/nodes. Blockchains included in our supply data are: Ethereum, Bitcoin and Litecoin.'
      operationId: market-metrics-asset-supply-latest
      parameters:
      - name: asset
        in: path
        description: The symbol of the asset or token. <BR>**[Example]** BTC, ETH, MATIC, etc.
        schema:
          type: string
          default: btc
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      timestamp: '2021-01-26T16:25:49.000Z'
                      issuance: '6.25'
                      totalSupply: '18611089.79497096'
                      circulatingSupply: '18611056'
                      maxSupply: '21000000'
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                    default: 0
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2021-01-26T16:25:49.000Z'
                      issuance:
                        type: string
                        example: '6.25'
                      totalSupply:
                        type: string
                        example: '18611089.79497096'
                      circulatingSupply:
                        type: string
                        example: '18611056'
                      maxSupply:
                        type: string
                        example: '21000000'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Supply
  /{asset}/supply/historical:
    get:
      summary: Historical
      description: 'Retrieves historical supply data for blockchains and tokens from October 2019 forward. ***Note**: We get supply values directly from our data/nodes. Blockchains included in our supply data are: Ethereum, Bitcoin and Litecoin.'
      operationId: market-metrics-asset-supply-historical
      parameters:
      - name: asset
        in: path
        description: The symbol of the asset or token. <BR>**[Example]** BTC, ETH, MATIC, etc.
        schema:
          type: string
          default: btc
        required: true
      - name: startDate
        in: query
        description: Returns data after this date. Accepts ISO8601 and Epoch/Unix timestamps
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Returns data before this date. Accepts ISO8601 and Epoch/Unix timestamps
        schema:
          type: string
          format: date-time
      - name: timeFormat
        in: query
        description: '**[Optional]** Time format of the timestamps in the return payload.<BR/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr | human_readable`'
        schema:
          type: string
          default: iso
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        startDate: '2021-01-22T00:00:00.000Z'
                        endDate: '2021-01-26T16:42:50.026Z'
                      data:
                      - timestamp: '2021-01-22T00:00:00.000Z'
                        issuance: '6.25'
                        totalSupply: '18607677.29497096'
                        circulatingSupply: '18607618'
                        maxSupply: '21000000'
                      - timestamp: '2021-01-23T00:00:00.000Z'
                        issuance: '6.25'
                        totalSupply: '18608652.29497096'
                        circulatingSupply: '18608487'
                        maxSupply: '21000000'
                      - timestamp: '2021-01-24T00:00:00.000Z'
                        issuance: '6.25'
                        totalSupply: '18609521.04497096'
                        circulatingSupply: '18609437'
                        maxSupply: '21000000'
                      - timestamp: '2021-01-25T00:00:00.000Z'
                        issuance: '6.25'
                        totalSupply: '18610396.04497096'
                        circulatingSupply: '18610293'
                        maxSupply: '21000000'
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                    default: 0
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          startDate:
                            type: string
                            example: '2021-01-22T00:00:00.000Z'
                          endDate:
                            type: string
                            example: '2021-01-26T16:42:50.026Z'
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            timestamp:
                              type: string
                              example: '2021-01-22T00:00:00.000Z'
                            issuance:
                              type: string
                              example: '6.25'
                            totalSupply:
                              type: string
                              example: '18607677.29497096'
                            circulatingSupply:
                              type: string
                              example: '18607618'
                            maxSupply:
                              type: string
                              example: '21000000'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Supply
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      x-default: API-KEY
      name: x-api-key
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
