openapi: 3.2.0
info:
  title: blockchain-api Transactions API
  version: '2'
servers:
- url: https://api.amberdata.com/blockchains
security:
- sec0: []
tags:
- name: Transactions
paths:
  /transactions/metrics/historical:
    get:
      summary: Transaction Metrics Historical
      description: Retrieve metrics for historical confirmed transactions for a given blockchain.
      operationId: transactions-metrics-historical
      parameters:
      - name: startDate
        in: query
        description: Filter by data after this date.
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Filter by data before this date.
        schema:
          type: string
          format: date-time
      - name: timeFormat
        in: query
        description: '**[Optional]** Time format of the timestamps in the return payload.<BR/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr | human_readable`'
        schema:
          type: string
      - name: x-amberdata-blockchain-id
        in: header
        description: The id of the blockchain
        schema:
          type: string
          enum:
          - bitcoin-mainnet
          - bitcoin-abc-mainnet
          - ethereum-mainnet
          - litecoin-mainnet
          default: ethereum-mainnet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                    default: 0
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      records:
                        type: array
                        description: Array of account-based blockchain metrics per timestamp
                        items:
                          type: object
                          properties:
                            timestamp:
                              type: string
                              format: date-time
                              example: '2022-11-08T00:00:00.000Z'
                            confirmationTimeAverage:
                              type: string
                              example: '951.8686480374737522'
                            feesAverage:
                              type: string
                              example: '5121434280204636.9542'
                            feesAverageUSD:
                              type: string
                              example: '8.02809306'
                            feesTotal:
                              type: string
                              example: '5797709434037098854730'
                            feesTotalUSD:
                              type: string
                              example: '9088186.68973826'
                            gasPriceAverage:
                              type: string
                              example: '56990615164.07242714'
                            pendingValueTotal:
                              type: string
                              example: '6433693181859762014619483'
                            pendingTransactionsTotal:
                              type: string
                              example: '2817570'
                            transactionsTotal:
                              type: string
                              example: '1132048'
                            transfersTotal:
                              type: string
                              example: '1295600'
                            valueAverage:
                              type: string
                              example: '4736497943222167371'
                            valueAverageUSD:
                              type: string
                              example: '7424.68694806'
                            valueTotal:
                              type: string
                              example: '5361943023628768128505703'
                            valueTotalUSD:
                              type: string
                              example: '8405102010.18226'
                      metadata:
                        type: object
                        description: Units used for metrics
                        properties:
                          feesUnit:
                            type: string
                            example: wei
                          valueUnit:
                            type: string
                            example: wei
                      totalRecords:
                        type: integer
                        example: 744
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: Unauthorized
      deprecated: false
      security:
      - ApiKeyAuth: []
      tags:
      - Transactions
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
