openapi: 3.2.0
info:
  title: Amberdata Dex API
  version: '2'
  description: 'Operations tagged Dex across 2 of this provider''s published API definitions: amberdata-defi-market-openapi.yaml, amberdata-defi-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.amberdata.com/market/defi
- url: https://api.amberdata.com/defi
security:
- sec0: []
tags:
- name: DEX
paths:
  /dex/exchanges:
    get:
      summary: Information - DEX Protocols
      description: Retrieves list of supported Ethereum decentralized exchanges (DEX).
      operationId: defi-information-dex-exchanges
      parameters:
      - name: exchange
        in: query
        description: '**[Optional]** The exchange for which to retrieve the requested data (address or name).<BR/>**[Examples]** `0x1f98431c8ad98523631ae4a59f267346ea31f984 | uniswapv3`'
        schema:
          type: string
      - name: sortBy
        in: query
        description: '**[Optional]** Sorting criteria for exchanges.<BR/>**[Defaults]** `name* | numPairs`'
        schema:
          type: string
          default: numPairs
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                    default: 0
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        exchangeName:
                          type: string
                          example: uniswapv2
                        exchangeId:
                          type: string
                          example: '0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f'
                        numPairs:
                          type: string
                          example: '329843'
      deprecated: false
      tags:
      - DEX
    servers:
    - url: https://api.amberdata.com/market/defi
  /dex/pairs:
    get:
      summary: Information - Pairs in DEX Protocols
      description: Retrieves supported DEX Pairs.
      operationId: defi-information-dex-pairs
      parameters:
      - name: exchange
        in: query
        description: The exchange for which to retrieve the requested data (address or name).<BR/>**[Examples]** `0x1f98431c8ad98523631ae4a59f267346ea31f984 | uniswapv3`
        required: true
        schema:
          type: string
          default: uniswapv3
      - name: pair
        in: query
        description: The pair for which to retrieve the request data (address).<BR/>**[Example]** `0x5777d92f208679db4b9778590fa3cab3ac9e2168`
        schema:
          type: string
      - name: asset
        in: query
        description: The asset for which to retrieve the requested data (address or symbol).<BR/>**[Examples]** `0x6b175474e89094c44da98b954eedeac495271d0f | DAI`
        schema:
          type: string
      - name: size
        in: query
        description: '**[Optional]** Maximum number of items in *payload.data*.<BR/>'
        schema:
          type: integer
          format: int32
          default: 1000
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                    default: 0
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next:
                            type: string
                            example: https://api.amberdata.com/market/defi/dex/pairs?size=10&exchange=uniswapv3&format=json&page=1
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            exchangeName:
                              type: string
                              example: uniswapv3
                            exchangeId:
                              type: string
                              example: '0x1f98431c8ad98523631ae4a59f267346ea31f984'
                            pairName:
                              type: string
                              example: RALPH_WETH
                            pairAddress:
                              type: string
                              example: '0x0000d36ab86d213c14d93cd5ae78615a20596505'
                            baseAddress:
                              type: string
                              example: '0x60f99e81d7e9634d1de93af5301e3321c960a575'
                            baseName:
                              type: string
                              example: Rekt Ralph
                            baseSymbol:
                              type: string
                              example: RALPH
                            baseDecimals:
                              type: string
                              example: '18'
                            quoteAddress:
                              type: string
                              example: '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'
                            quoteName:
                              type: string
                              example: Wrapped Ether
                            quoteSymbol:
                              type: string
                              example: WETH
                            quoteDecimals:
                              type: string
                              example: '18'
                            poolFees:
                              type: string
                              example: '0.01'
                            poolAddresses:
                              type: array
                              items:
                                type: string
                                example: '0x60f99e81d7e9634d1de93af5301e3321c960a575'
                            poolNames:
                              type: array
                              items:
                                type: string
                                example: Rekt Ralph
                            poolSymbols:
                              type: array
                              items:
                                type: string
                                example: RALPH
                            poolDecimals:
                              type: array
                              items:
                                type: string
                                example: '18'
      deprecated: false
      tags:
      - DEX
    servers:
    - url: https://api.amberdata.com/market/defi
  /dex/uniswapv3/pools/{poolAddress}/liquidity-distribution:
    get:
      summary: Uniswap v3 Liquidity Distribution
      description: This API provides the **current** distribution of the liquidity in a specified Uniswap v3 pool.
      operationId: uniswap-v3-liquidity-distribution
      parameters:
      - name: poolAddress
        in: path
        description: A token pair's liquidity pool address. Default is `USDC/WETH 0.05%`
        schema:
          type: string
          default: '0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640'
        required: true
      - name: activeTick
        in: query
        description: When set to `true`, return just the current trading price, `tickIndex`, and the associated data.<br><br>**Cannot** be combined with `price*USD{Min|Max}` filters.
        schema:
          type: boolean
      - name: price0USDMin
        in: query
        description: Minimum (inclusive) price of token 0 in US dollars.
        schema:
          type: number
          format: double
          default: 0.95
      - name: price0USDMax
        in: query
        description: Maximum (exclusive) price of token 0 in US dollars.
        schema:
          type: number
          format: double
          default: 1.05
      - name: price1USDMin
        in: query
        description: Minimum (inclusive) price of token 1 in US dollars.
        schema:
          type: number
          format: double
      - name: price1USDMax
        in: query
        description: Maximum (exclusive) price of token 1 in US dollars.
        schema:
          type: number
          format: double
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next:
                            type:
                            - string
                            - 'null'
                            example: null
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            isActiveTick:
                              type: boolean
                              example: true
                            liquidity:
                              type: string
                              example: '2241499413487953201'
                            price0USD:
                              type: number
                              example: 26834.9
                            price1USD:
                              type: number
                              example: 1812.74
                            token0AmountLocked:
                              type: number
                              example: 58300.91207979999
                            token1AmountLocked:
                              type: number
                              example: 862439.5278076923
                            tickIndex:
                              type: integer
                              example: 257220
      deprecated: false
      tags:
      - DEX
    servers:
    - url: https://api.amberdata.com/defi
  /dex/ohlcv/information/:
    get:
      summary: Information
      description: Retrieves information about supported exchange-pairs for ohlcv.
      operationId: defi-ohlcv-information
      parameters:
      - name: exchange
        in: query
        description: 'Only return data for the specified exchange(s) (comma separated). Example: uniswapv3'
        schema:
          type: string
      - name: timeFormat
        in: query
        description: '**[Optional]** Time format of the timestamps in the return payload.<BR/>**[Defaults]** `milliseconds | ms | iso | iso8601* | hr | human_readable`'
        schema:
          type: string
      - name: size
        in: query
        description: The number of records per page.
        schema:
          type: integer
          format: int32
          default: 100
      - name: api-version
        in: header
        description: Desired Endpoint Version
        schema:
          type: string
          enum:
          - '2023-09-30'
          default: '2023-09-30'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          uniswapv3:
                            type: object
                            properties:
                              BCZ_WETH:
                                type: object
                                properties:
                                  address:
                                    type: string
                                    example: '0x0001fcbba8eb491c3ccfeddc5a5caba1a98c4c28'
                                  baseAddress:
                                    type: string
                                    example: '0xbef81556ef066ec840a540595c8d12f516b6378f'
                                  baseDecimals:
                                    type: string
                                    example: '18'
                                  baseName:
                                    type: string
                                    example: BinanceCZ
                                  baseSymbol:
                                    type: string
                                    example: BCZ
                                  blockchainId:
                                    type: string
                                    example: 1c9c969065fcd1cf
                                  endDate:
                                    type: string
                                    example: '2021-07-17T00:00:00Z'
                                  pairName:
                                    type: string
                                    example: BCZ_WETH
                                  poolFees:
                                    type: string
                                    example: '0.01'
                                  quoteAddress:
                                    type: string
                                    example: '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'
                                  quoteDecimals:
                                    type: string
                                    example: '18'
                                  quoteName:
                                    type: string
                                    example: Wrapped Ether
                                  quoteSymbol:
                                    type: string
                                    example: WETH
                                  startDate:
                                    type: string
                                    example: '2021-07-17T00:00:00Z'
                      metadata:
                        type: object
                        properties:
                          next:
                            type: string
                            example: https://api.amberdata.com/defi/dex/ohlcv/information?cursor=H4sIAAAAAAAA_0qtSM5IzEtPtS3NyywuTywoM1YrycxNdcsvyk0ssc0szlfLT0srTi2xNVUrzqxKtTUFBAAA___rFeOJMQAAAA==
                  status:
                    type: integer
                    example: 200
                    default: 0
                  title:
                    type: string
                    example: OK
      deprecated: false
      tags:
      - DEX
    servers:
    - url: https://api.amberdata.com/defi
  /dex/trades:
    get:
      summary: DEX Trades Historical
      description: Retrieves the historical (time series) DEX trades.
      operationId: dex-trades-all-blockchains
      parameters:
      - name: startDate
        in: query
        description: 'Filter by trades after this date.<br><br>**Examples**: `2025-02-05`'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Filter by trades before this date.<br><br>If `endDate` is not specified but `startDate` is, the endpoint will return trades spanning from `startDate` to the **now** i.e. the time the request was made.
        schema:
          type: string
          format: date-time
      - name: blockchain
        in: query
        description: Filter for trades on just this network/blockchain.
        required: true
        schema:
          type: string
          enum:
          - ethereum-mainnet
          - polygon-mainnet
          - arbitrum-mainnet
          - bnb-mainnet
          - optimism-mainnet
          - avalanche-mainnet
          default: ethereum-mainnet
      - name: protocolName
        in: query
        description: Filter for trades from this protocol. Use the [DEX Information](https://docs.amberdata.io/reference/dex-all-blockchains-information) endpoint to see available protocols.
        schema:
          type: string
      - name: liquidityPoolAddress
        in: query
        description: Filter by the smart contract address of the liquidity pool
        schema:
          type: string
      - name: assetBoughtAddress
        in: query
        description: Filter by the smart contract address of the asset that was bought in the trade
        schema:
          type: string
      - name: assetSoldAddress
        in: query
        description: Filter by the smart contract address of the asset that was sold in the trade
        schema:
          type: string
      - name: walletAddress
        in: query
        description: Filter by a specific address that was either the initiator or recipient of the trade
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                    default: 0
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            assetBoughtAddress:
                              type: string
                              example: '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2'
                            assetBoughtAmount:
                              type: string
                              example: '16.1794651319315006'
                            assetBoughtAmountRaw:
                              type: string
                              example: '16179465131931500625'
                            assetBoughtDecimals:
                              type: integer
                              example: 18
                            assetBoughtPrice:
                              type: string
                              example: '0.000000000054573194'
                            assetBoughtSymbol:
                              type: string
                              example: weth
                            assetPair:
                              type: string
                              example: 0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2-0x761d38e5ddf6ccf6cf7c55759d5210750b5d60f3
                            assetSoldAddress:
                              type: string
                              example: '0x761d38e5ddf6ccf6cf7c55759d5210750b5d60f3'
                            assetSoldAmount:
                              type: string
                              example: '296472755569.2866327389741926'
                            assetSoldAmountRaw:
                              type: string
                              example: '296472755569286632738974192626'
                            assetSoldDecimals:
                              type: integer
                              example: 18
                            assetSoldPrice:
                              type: string
                              example: '18324014616.785653102374439753'
                            assetSoldSymbol:
                              type: string
                              example: elon
                            blockNumber:
                              type: integer
                              example: 21440571
                            blockchain:
                              type: string
                              example: ethereum-mainnet
                            callerAddress:
                              type: string
                              example: '0x7a250d5630b4cf539739df2c5dacb4c659f2488d'
                            event:
                              type: string
                              example: Swap (index_topic_1 address sender, uint256 amount0In, uint256 amount1In, uint256 amount0Out, uint256 amount1Out, index_topic_2 address to)
                            liquidityPoolAddress:
                              type: string
                              example: '0x7b73644935b8e68019ac6356c40661e1bc315860'
                            logIndex:
                              type: integer
                              example: 4
                            project:
                              type: string
                              example: uniswap
                            protocolName:
                              type: string
                              example: uniswap_v2
                            receiverAddress:
                              type: string
                              example: '0xa568bd1f7038bdea2fca05881168eef8fd4ffa33'
                            timestamp:
                              type: string
                              example: '2024-12-20T01:52:47.000Z'
                            tradeFeeBought:
                              type: string
                              example: '0.048538395395794502'
                            tradeFeeSold:
                              type: string
                              example: '889418266.707859898216922578'
                            tradeId:
                              type: string
                              example: '0x6a1bfd5881c74188933ee27ee95af994457fd4a96c9b65f7b1505c06306390c5_4'
                            transactionFee:
                              type: string
                              example: '1982124877779670'
                            transactionFromAddress:
                              type: string
                              example: '0xa568bd1f7038bdea2fca05881168eef8fd4ffa33'
                            transactionGasPrice:
                              type: string
                              example: '20035630019'
                            transactionGasUsed:
                              type: string
                              example: '98930'
                            transactionHash:
                              type: string
                              example: '0x6a1bfd5881c74188933ee27ee95af994457fd4a96c9b65f7b1505c06306390c5'
                            transactionToAddress:
                              type: string
                              example: '0x7a250d5630b4cf539739df2c5dacb4c659f2488d'
      deprecated: false
      tags:
      - DEX
    servers:
    - url: https://api.amberdata.com/defi
  /dex/information:
    get:
      summary: DEX Protocols Information
      description: Retrieves information about the supported liquidity pools across blockchains and DEX protocols.
      operationId: dex-all-blockchains-information
      parameters:
      - name: activeAfterDate
        in: query
        description: 'Filter by date to find liquidity pools that have been active after the specified date<br><br>**Examples**: `2025-02-05`'
        schema:
          type: string
          format: date-time
      - name: blockchain
        in: query
        description: Filter for liquidity pools on just this network/blockchain.
        required: true
        schema:
          type: string
          enum:
          - ethereum-mainnet
          - polygon-mainnet
          - arbitrum-mainnet
          - bnb-mainnet
          - optimism-mainnet
          - avalanche-mainnet
          default: ethereum-mainnet
      - name: protocolName
        in: query
        description: Filter by a protocol of interest
        schema:
          type: string
      - name: liquidityPoolAddress
        in: query
        description: Filter by the smart contract address of the liquidity pool
        schema:
          type: string
      - name: assetAddress
        in: query
        description: Filter by the smart contract address for an asset of interest
        schema:
          type: string
      - name: assetSymbol
        in: query
        description: Filter by the short-form identifier of an asset.<br><br> **We recommended using `assetAddress` as assets can have duplicate symbols on-chain.**
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                    default: 0
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            blockchain:
                              type: string
                              example: arbitrum-mainnet
                            firstKnownTradeDate:
                              type: string
                              example: '2024-12-06T08:37:49.000Z'
                            lastKnownTradeDate:
                              type: string
                              example: '2024-12-19T23:59:59.000Z'
                            liquidityPoolAddress:
                              type: string
                              example: '0xbb4c7c0380f13c0bb947ac08db20af18898d9cfb'
                            liquidityPoolFees:
                              type: number
                              example: 13.400999999999994
                            poolComposition:
                              type: array
                              items:
                                type: object
                                properties:
                                  assetAddress:
                                    type: string
                                    example: '0x82af49447d8a07e3bd95bd0d56f35241523fbab1'
                                  assetDecimals:
                                    type: integer
                                    example: 18
                                  assetSymbol:
                                    type: string
                                    example: weth
                            protocolName:
                              type: string
                              example: uniswap_v3
      deprecated: false
      tags:
      - DEX
    servers:
    - url: https://api.amberdata.com/defi
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      x-default: API_KEY
      name: x-api-key
x-refined-from:
- amberdata-defi-market-openapi.yaml
- amberdata-defi-openapi.yaml
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
