openapi: 3.1.0
info:
  title: Pricing
  version: '2'
servers:
  - url: https://api.amberdata.com/markets
security:
  - sec0: []
paths:
  /spot/prices/assets/information/:
    get:
      summary: Assets Information
      description: >-
        Retrieves the list of all the available supported assets and time range
        availability.
      operationId: spot-prices-assets-information
      parameters:
        - name: asset
          in: query
          description: >-
            **[Optional]** The asset for which to retrieve the information.
            **[Default]** All available pairs.
          schema:
            type: string
            default: btc
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.
            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
        - name: includeInactive
          in: query
          description: >-
            **[Optional]**If true, endpoint returns all pairs, including
            delisted ones.  **[Defaults]** `True| False*`
          schema:
            type: boolean
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/market/spot/prices/assets/information?cursor=N4IgLglgtgpgYgewE5QIZhALhFCAbPCAZxgGMEA7AEyJABoQAzZNDbAKyMvpAAdUA5jCwBGBkQgAvYZhEAGBQF8gA
                      data:
                        - asset: '00'
                          startDate: 1665446400000
                          endDate: 1677866100000
                        - asset: 1000hokk
                          startDate: 1621900800000
                          endDate: 1635811200000
                        - asset: 1000kishu
                          startDate: 1621900800000
                          endDate: 1652918400000
                        - asset: 18c
                          startDate: 1556064000000
                          endDate: 1666915200000
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next:
                            type: string
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            asset:
                              type: string
                            startDate:
                              type: integer
                            endDate:
                              type: integer
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /spot/vwap/assets/{asset}/historical:
    get:
      summary: Assets Historical
      description: >-
        Retrieves the historical VWAP for the specified asset - this is the
        global VWAP across all exchanges which supports this asset, including
        all cross rates pairs.


        Price is calculated as a volume weighted moving average across all
        exchanges.
      operationId: spot-vwap-assets-historical
      parameters:
        - name: asset
          in: path
          description: The asset for which to retrieve the requested data.
          schema:
            type: string
            default: btc
          required: true
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive). <br>The interval can not exceed 12 months (d), 30 days
            (h) or 24 hours (m).<br>**[Formats]** `seconds | milliseconds |
            iso8601`<br>**[Examples]** `1578531600 | 1578531600000 |
            2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive). <br>The interval can not exceed 12 months (d), 30 days
            (h) or 24 hours (m).<br>**[Formats]** `seconds | milliseconds |
            iso8601`<br>**[Examples]** `1578531600 | 1578531600000 |
            2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: timeInterval
          in: query
          description: >-
            **[Optional]** The time interval of the timeseries in the return
            payload.<br/>**[Defaults]** `m* | minute | h | hour | d | day`
          schema:
            type: string
        - name: lookbackPeriod
          in: query
          description: >-
            **[Optional]** Number of historical data points used in the
            calculation.<br/>**[Defaults]** `60 for minutely, 24 for hourly and
            20 for daily`
          schema:
            type: integer
            format: int32
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return
            payload.<br/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr
            | human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                          example: '2020-09-11T20:17:00.000Z'
                        asset:
                          type: string
                          example: btc
                        price:
                          type: number
                          format: float
                          example: 10334.1579
                        volume:
                          type: number
                          format: float
                          example: 3.7839
                        vwap:
                          type: number
                          format: float
                          example: 10332.5029
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      - timestamp: '2020-09-11T20:17:00.000Z'
                        asset: btc
                        price: 10334.1579
                        volume: 3.7839
                        vwap: 10332.5029
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
  /spot/vwap/pairs/{pair}/historical:
    get:
      summary: Pairs Historical
      description: >-
        Retrieves the historical VWAP for the specified pair - this is the
        global VWAP across all exchanges which supports this pair, including all
        cross rates pairs.


        Price is calculated as a volume weighted moving average across all
        exchanges.


        If the parameter `exchange` is specified, the data returned is the VWAP
        for that pair on that exchange.
      operationId: spot-vwap-pairs-historical
      parameters:
        - name: pair
          in: path
          description: The pair for which to retrieve the requested data.
          schema:
            type: string
            default: btc_usd
          required: true
        - name: exchange
          in: query
          description: >-
            **[Optional]** The exchange for which to retrieve the requested
            data.<br/>Note that daily vwap is not supported with this parameter.
          schema:
            type: string
        - name: includeCrossRates
          in: query
          description: >-
            **[Optional]** If true, cross rate pairs are included in the price &
            VWAP calculations - this option only supports pairs quoted in usd
            (ie `*_usd` pairs).<br/>**[Defaults]** `false* | true`
          schema:
            type: boolean
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive). <br>The interval can not exceed 12 months (d), 30 days
            (h) or 24 hours (m).<br>**[Formats]** `seconds | milliseconds |
            iso8601`<br>**[Examples]** `1578531600 | 1578531600000 |
            2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive). <br>The interval can not exceed 12 months (d), 30 days
            (h) or 24 hours (m).<br>**[Formats]** `seconds | milliseconds |
            iso8601`<br>**[Examples]** `1578531600 | 1578531600000 |
            2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: timeInterval
          in: query
          description: >-
            **[Optional]** The time interval of the timeseries in the return
            payload.<br/>**[Defaults]** `m* | minute | h | hour | d | day`
          schema:
            type: string
        - name: lookbackPeriod
          in: query
          description: >-
            **[Optional]** Number of historical data points used in the
            calculation.<br/>**[Defaults]** `60 for minutely, 24 for hourly and
            20 for daily`
          schema:
            type: integer
            format: int32
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return
            payload.<br/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr
            | human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                          example: '2020-09-11T20:41:00.000Z'
                        pair:
                          type: string
                          example: btc_usd
                        price:
                          type: number
                          format: float
                          example: 10311.5
                        volume:
                          type: number
                          format: float
                          example: 0.1212
                        vwap:
                          type: number
                          format: float
                          example: 10315.9
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      - timestamp: '2020-09-11T20:41:00.000Z'
                        pair: btc_usd
                        price: 10311.5
                        volume: 0.1212
                        vwap: 10315.9
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
  /spot/vwap/assets/information:
    get:
      summary: Assets Information
      description: >-
        Retrieves the list of all the available supported assets and time range
        availability.
      operationId: spot-vwap-assets-information
      parameters:
        - name: asset
          in: query
          description: >-
            **[Optional]** The asset for which to retrieve the
            information.<br/>**[Default]** All available pairs.
          schema:
            type: string
            default: btc
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return
            payload.<br/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr
            | human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next:
                            type: string
                            format: uri
                            example: >-
                              https://api.amberdata.com/market/spot/vwap/assets/information?cursor=N4IgLglgtgpgYgewE5QIZhALhFCAbPCAZxgGMEA7AEyJABoQAzZNDbAKyMvpAAdUA5jCwBGBkQgAvYZhEAGBQF8gA
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            asset:
                              type: string
                              example: '00'
                            startDate:
                              type: integer
                              format: int64
                              example: 1665446400000
                            endDate:
                              type: integer
                              format: int64
                              example: 1677866100000
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/market/spot/vwap/assets/information?cursor=N4IgLglgtgpgYgewE5QIZhALhFCAbPCAZxgGMEA7AEyJABoQAzZNDbAKyMvpAAdUA5jCwBGBkQgAvYZhEAGBQF8gA
                      data:
                        - asset: '00'
                          startDate: 1665446400000
                          endDate: 1677866100000
                        - asset: 1000hokk
                          startDate: 1621900800000
                          endDate: 1635811200000
                        - asset: 1000kishu
                          startDate: 1621900800000
                          endDate: 1652918400000
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
  /spot/vwap/pairs/information:
    get:
      summary: Pairs Information
      description: >-
        Retrieves the list of all the available supported pairs and time range
        availability.
      operationId: spot-vwap-pairs-information
      parameters:
        - name: pair
          in: query
          description: >-
            **[Optional]** The pair for which to retrieve the
            information.<br/>**[Default]** All available pairs.
          schema:
            type: string
            default: btc_usd
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return
            payload.<br/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr
            | human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next:
                            type: string
                            format: uri
                            example: >-
                              https://api.amberdata.com/market/spot/vwap/pairs/information?cursor=N4IgLglgtgpgYgewE5QIZhALhFCAbPCAZxgGMEA7AEyJABoQAzZNDbAKyMvpAAdUA5jCwBGBkQgAvYZhEAGBQF8gA
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            pair:
                              type: string
                              example: 00_usd
                            startDate:
                              type: integer
                              format: int64
                              example: 1665446400000
                            endDate:
                              type: integer
                              format: int64
                              example: 1677866100000
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/market/spot/vwap/pairs/information?cursor=N4IgLglgtgpgYgewE5QIZhALhFCAbPCAZxgGMEA7AEyJABoQAzZNDbAKyMvpAAdUA5jCwBGBkQgAvYZhEAGBQF8gA
                      data:
                        - pair: 00_usd
                          startDate: 1665446400000
                          endDate: 1677866100000
                        - pair: '123_456'
                          startDate: 1581206400000
                          endDate: 1632873600000
                        - pair: 18c_btc
                          startDate: 1556064000000
                          endDate: 1666915200000
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
  /spot/prices/assets/{asset}/latest/:
    get:
      summary: Assets Latest
      description: >-
        Retrieves the latest price for the specified asset - the global price is
        calculated across all exchanges which supports this asset, including all
        cross rates pairs.


        Price of an asset is calculated as the VWAP (Volume Weighted Average
        Price) across all exchanges supporting this asset, with a 1 bar lookback
        period.
      operationId: spot-prices-assets-latest
      parameters:
        - name: asset
          in: path
          description: The asset for which to retrieve the mot recent data.
          schema:
            type: string
            default: btc
          required: true
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return
            payload.<br/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr
            | human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      timestamp: '2020-09-11T22:49:00.000Z'
                      asset: btc
                      price: '10377.8883'
                      volume: '389.1346'
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                    default: 0
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2020-09-11T22:49:00.000Z'
                      asset:
                        type: string
                        example: btc
                      price:
                        type: string
                        example: '10377.8883'
                      volume:
                        type: string
                        example: '389.1346'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
  /spot/prices/assets/{asset}/historical/:
    get:
      summary: Assets Historical
      description: >-
        Retrieves the historical price for the specified asset - the price is
        calculated across all exchanges which supports this asset, including all
        cross rates pairs.


        Price of an asset is calculated as the VWAP (Volume Weighted Average
        Price) across all exchanges supporting this asset, with a 1 bar lookback
        period.
      operationId: spot-prices-assets-historical
      parameters:
        - name: asset
          in: path
          description: The asset for which to retrieve the requested data.
          schema:
            type: string
            default: btc
          required: true
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive). <br>The interval can not exceed 12 months (d), 30 days
            (h) or 24 hours (m).<br>**[Formats]** `seconds | milliseconds |
            iso8601`<br>**[Examples]** `1578531600 | 1578531600000 |
            2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive). <br>The interval can not exceed 12 months (d), 30 days
            (h) or 24 hours (m).<br>**[Formats]** `seconds | milliseconds |
            iso8601`<br>**[Examples]** `1578531600 | 1578531600000 |
            2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: timeInterval
          in: query
          description: >-
            **[Optional]** The time interval of the timeseries in the return
            payload.<br/>**[Defaults]** `m* | minute | h | hour | d | day`
          schema:
            type: string
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return
            payload.<br/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr
            | human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                          example: '2020-09-11T20:17:00.000Z'
                        asset:
                          type: string
                          example: btc
                        price:
                          type: number
                          format: float
                          example: 10334.1579
                        volume:
                          type: number
                          format: float
                          example: 3.7839
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      - timestamp: '2020-09-11T20:17:00.000Z'
                        asset: btc
                        price: 10334.1579
                        volume: 3.7839
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
  /spot/prices/pairs/information/:
    get:
      summary: Pairs Information
      description: >-
        Retrieves the list of all the available supported pairs and time range
        availability.
      operationId: spot-prices-pairs-information
      parameters:
        - name: pair
          in: query
          description: >-
            **[Optional]** The pair for which to retrieve the
            information.<br/>**[Default]** All available pairs.
          schema:
            type: string
            default: btc_usd
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return
            payload.<br/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr
            | human_readable`
          schema:
            type: string
        - name: includeInactive
          in: query
          description: >-
            **[Optional]**If true, endpoint returns all pairs, including
            delisted ones. <br/>**[Defaults]** `True| False*`
          schema:
            type: boolean
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next:
                            type: string
                            format: uri
                            example: >-
                              https://api.amberdata.com/market/spot/prices/pairs/information?cursor=N4IgLglgtgpgYgewE5QIZhALhFCAbPCAZxgGMEA7AEyJABoQAzZNDbAKyMvpAAdUA5jCwBGBkQgAvYZhEAGBQF8gA
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            pair:
                              type: string
                              example: 00_usd
                            startDate:
                              type: number
                              format: int64
                              example: 1665446400000
                            endDate:
                              type: number
                              format: int64
                              example: 1677866100000
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/market/spot/prices/pairs/information?cursor=N4IgLglgtgpgYgewE5QIZhALhFCAbPCAZxgGMEA7AEyJABoQAzZNDbAKyMvpAAdUA5jCwBGBkQgAvYZhEAGBQF8gA
                      data:
                        - pair: 00_usd
                          startDate: 1665446400000
                          endDate: 1677866100000
                        - pair: '123_456'
                          startDate: 1581206400000
                          endDate: 1632873600000
                        - pair: 18c_btc
                          startDate: 1556064000000
                          endDate: 1666915200000
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
  /spot/prices/pairs/{pair}/latest/:
    get:
      summary: Pairs Latest
      description: >-
        Retrieves the latest price for the specified pair - the price is
        calculated across all exchanges which supports this pair.


        Price of a pair is calculated as the VWAP (Volume Weighted Average
        Price) across all exchanges supporting this pair, with a 1 bar lookback
        period.


        If the parameter exchange is specified, the data returned is the price
        for that pair on that exchange.
      operationId: spot-prices-pairs-latest
      parameters:
        - name: pair
          in: path
          description: The pair for which to retrieve the mot recent data.
          schema:
            type: string
            default: btc_usd
          required: true
        - name: exchange
          in: query
          description: >-
            **[Optional]** The exchange for which to retrieve the requested
            data.
          schema:
            type: string
        - name: includeCrossRates
          in: query
          description: >-
            **[Optional]** If true, cross rate pairs are included in the price
            calculations - this option only supports pairs quoted in usd (ie
            `*_usd` pairs).<br/>**[Defaults]** `false* | true`
          schema:
            type: boolean
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return
            payload.<br/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr
            | human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      timestamp: '2020-09-11T20:41:00.000Z'
                      pair: btc_usd
                      price: '10311.5'
                      volume: '0.1212'
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                    default: 0
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2020-09-11T20:41:00.000Z'
                      pair:
                        type: string
                        example: btc_usd
                      price:
                        type: string
                        example: '10311.5'
                      volume:
                        type: string
                        example: '0.1212'
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
  /spot/prices/pairs/{pair}/historical/:
    get:
      summary: Pairs Historical
      description: >-
        Retrieves the historical price for the specified pair - the price is
        calculated across all exchanges which supports this pair, including all
        cross rates pairs.


        Price of a pair is calculated as the VWAP (Volume Weighted Average
        Price) across all exchanges supporting this pair, with a 1 bar lookback
        period. If the parameter exchange is specified, the data returned is the
        VWAP for that pair on that exchange.
      operationId: spot-prices-pairs-historical
      parameters:
        - name: pair
          in: path
          description: The pair for which to retrieve the requested data.
          schema:
            type: string
            default: btc_usd
          required: true
        - name: exchange
          in: query
          description: >-
            **[Optional]** The exchange for which to retrieve the requested
            data.
          schema:
            type: string
        - name: includeCrossRates
          in: query
          description: >-
            **[Optional]** If true, cross rate pairs are included in the price
            calculations - this option only supports pairs quoted in usd (ie
            `*_usd` pairs).<br/>**[Defaults]** `false* | true`
          schema:
            type: boolean
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive). <br>The interval can not exceed 12 months (d), 30 days
            (h) or 24 hours (m).<br>**[Formats]** `seconds | milliseconds |
            iso8601`<br>**[Examples]** `1578531600 | 1578531600000 |
            2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive). <br>The interval can not exceed 12 months (d), 30 days
            (h) or 24 hours (m).<br>**[Formats]** `seconds | milliseconds |
            iso8601`<br>**[Examples]** `1578531600 | 1578531600000 |
            2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: timeInterval
          in: query
          description: >-
            **[Optional]** The time interval of the timeseries in the return
            payload.<br/>**[Defaults]** `m* | minute | h | hour | d | day`
          schema:
            type: string
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return
            payload.<br/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr
            | human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                          example: '2020-09-11T20:41:00.000Z'
                        pair:
                          type: string
                          example: btc_usd
                        price:
                          type: number
                          format: float
                          example: 10311.5
                        volume:
                          type: number
                          format: float
                          example: 0.1212
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      - timestamp: '2020-09-11T20:41:00.000Z'
                        pair: btc_usd
                        price: 10311.5
                        volume: 0.1212
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
  /spot/twap/pairs/information:
    get:
      summary: Pairs Information
      description: >-
        Retrieves the list of all the available supported pairs and time range
        availability.
      operationId: spot-twap-pairs-information
      parameters:
        - name: pair
          in: query
          description: >-
            **[Optional]** The pair for which to retrieve the
            information.<br/>**[Default]** All available pairs.
          schema:
            type: string
            default: btc_usd
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return
            payload.<br/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr
            | human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next:
                            type: string
                            example: >-
                              https://api.amberdata.com/market/spot/twap/pairs/information?cursor=N4IgLglgtgpgYgewE5QIZhALhFCAbPCAZxgGMEA7AEyJABoQAzZNDbAKyMvpAAdUA5jCwBGBkQgAvYZhEAGBQF8gA
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            pair:
                              type: string
                              example: 00_usd
                            startDate:
                              type: number
                              format: int64
                              example: 1665446400000
                            endDate:
                              type: number
                              format: int64
                              example: 1677866100000
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/market/spot/twap/pairs/information?cursor=N4IgLglgtgpgYgewE5QIZhALhFCAbPCAZxgGMEA7AEyJABoQAzZNDbAKyMvpAAdUA5jCwBGBkQgAvYZhEAGBQF8gA
                      data:
                        - pair: 00_usd
                          startDate: 1665446400000
                          endDate: 1677866100000
                        - pair: '123_456'
                          startDate: 1581206400000
                          endDate: 1632873600000
                        - pair: 18c_btc
                          startDate: 1556064000000
                          endDate: 1666915200000
                        - pair: 18c_eth
                          startDate: 1556064000000
                          endDate: 1666224000000
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
  /spot/twap/pairs/{pair}/historical:
    get:
      summary: Pairs Historical
      description: >-
        Retrieves the historical TWAP for the specified pair - this is the
        global TWAP across all exchanges which supports this pair, including all
        cross rates pairs.


        Price is calculated as a time weighted moving average across all
        exchanges.


        If the parameter `exchange` is specified, the data returned is the TWAP
        for that pair on that exchange.
      operationId: spot-twap-pairs-historical
      parameters:
        - name: pair
          in: path
          description: The pair for which to retrieve the requested data.
          schema:
            type: string
            default: btc_usd
          required: true
        - name: exchange
          in: query
          description: >-
            **[Optional]** The exchange for which to retrieve the requested
            data.<br/>Note that daily vwap is not supported with this parameter.
          schema:
            type: string
        - name: includeCrossRates
          in: query
          description: >-
            **[Optional]** If true, cross rate pairs are included in the price &
            VWAP calculations - this option only supports pairs quoted in usd
            (ie `*_usd` pairs).<br/>**[Defaults]** `false* | true`
          schema:
            type: boolean
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive). <br>The interval can not exceed 12 months (d), 30 days
            (h) or 24 hours (m).<br>**[Formats]** `seconds | milliseconds |
            iso8601`<br>**[Examples]** `1578531600 | 1578531600000 |
            2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive). <br>The interval can not exceed 12 months (d), 30 days
            (h) or 24 hours (m).<br>**[Formats]** `seconds | milliseconds |
            iso8601`<br>**[Examples]** `1578531600 | 1578531600000 |
            2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: timeInterval
          in: query
          description: >-
            **[Optional]** The time interval of the timeseries in the return
            payload.<br/>**[Defaults]** `m* | minute | h | hour | d | day`
          schema:
            type: string
        - name: lookbackPeriod
          in: query
          description: >-
            **[Optional]** Number of historical data points used in the
            calculation.<br/>**[Defaults]** `60 for minutely, 24 for hourly and
            20 for daily`
          schema:
            type: integer
            format: int32
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return
            payload.<br/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr
            | human_readable`
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                          example: '2020-09-11T20:41:00.000Z'
                        pair:
                          type: string
                          example: btc_usd
                        price:
                          type: number
                          example: 10311.5
                        volume:
                          type: number
                          example: 0.1212
                        twap:
                          type: number
                          example: 10315.9
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      - timestamp: '2020-09-11T20:41:00.000Z'
                        pair: btc_usd
                        price: 10311.5
                        volume: 0.1212
                        twap: 10315.9
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {}
              schema:
                type: object
                properties: {}
      deprecated: false
  /prices/spot/instruments/information:
    get:
      summary: Pair Information
      description: >-
        This endpoint returns all available exchange and instrument pair
        combinations for price data. Users can also isolate a specific
        instrument pair to see all exchanges that support it.
      operationId: instrument-pair-information
      parameters:
        - name: instrument
          in: query
          description: >-
            The specific instrument pair to isolate. **[Examples]** `btc_usdc |
            eth_usdt`
          required: false
          schema:
            type: string
            default: btc_usdc
        - name: timeFormat
          in: query
          description: >-
            Time format of timestamps in the return payload. **[Defaults]**
            `milliseconds | ms* | iso | iso8601 | hr | human_readable`
          schema:
            type: string
            default: hr
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        arcInstrumentId:
                          type: string
                          example: AMB:CAT000000002_AMB:USD000000335
                        assetName:
                          type: string
                          example: Catino
                        assetSymbol:
                          type: string
                          example: catino
                        exchange:
                          type: string
                          example: binance
                        instrument:
                          type: string
                          example: cat_usd
                        startDate:
                          type: string
                          format: date-time
                          example: 2020-09-11T20:41:00.000Z
                        endDate:
                          type: string
                          format: date-time
                          example: 2024-09-11T20:41:00.000Z
      deprecated: false
  /prices/spot/assets/information:
    get:
      summary: Asset Information
      description: >-
        This endpoint returns all available exchange and asset combinations for
        price data. Users can also isolate a specific asset to see all exchanges
        that support it.
      operationId: asset-information
      parameters:
        - name: asset
          in: query
          description: The specific instrument asset to isolate. **[Examples]** `btc | eth`
          required: false
          schema:
            type: string
            default: btc
        - name: timeFormat
          in: query
          description: >-
            Time format of timestamps in the return payload. **[Defaults]**
            `milliseconds | ms* | iso | iso8601 | hr | human_readable`
          schema:
            type: string
            default: hr
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        asset:
                          type: string
                          example: btc
                        assetArcId:
                          type: string
                          example: AMB:BTC000000000
                        assetName:
                          type: string
                          example: Bitcoin
                        assetSymbol:
                          type: string
                          example: btc
                        exchange:
                          type: string
                          example: gdax
                        startDate:
                          type: string
                          format: date-time
                          example: 2020-09-11T20:41:00.000Z
                        endDate:
                          type: string
                          format: date-time
                          example: 2024-09-11T20:41:00.000Z
      deprecated: false
  /prices/spot/assets:
    get:
      summary: Asset Price
      description: >-
        This endpoint returns the asset price. This asset price is derived from
        trading data across various exchanges and cross-asset pairs, weighted by
        trade volume.
      operationId: asset-price-new
      parameters:
        - name: asset
          in: query
          description: The specific asset to return prices for. **[Examples]** `btc | eth`
          required: true
          schema:
            type: string
            default: btc
        - name: timeFormat
          in: query
          description: >-
            Time format of timestamps in the return payload. **[Defaults]**
            `milliseconds | ms* | iso | iso8601 | hr | human_readable`
          required: false
          schema:
            type: string
            default: hr
        - name: timeInterval
          in: query
          description: The time interval of the timeseries in the return payload.
          required: false
          schema:
            type: string
            default: day
        - name: startDate
          in: query
          description: Payload only includes data after this date (inclusive).
          required: false
          schema:
            type: string
            format: date-time
            default: '2026-01-01'
        - name: endDate
          in: query
          description: Payload only includes data up-to this date (exclusive).
          required: false
          schema:
            type: string
            format: date-time
            default: '2026-01-11'
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        asset:
                          type: string
                          example: btc
                        assetArcId:
                          type: string
                          example: AMB:BTC000000000
                        priceUSD:
                          type: decimal
                          example: 90532.21881230843
                        timestamp:
                          type: string
                          format: date-time
                          example: 2020-09-11T20:41:00.000Z
                        volumeAsset:
                          type: decimal
                          example: 1874.335247657359
      deprecated: false
  /prices/spot/instruments:
    get:
      summary: Pair Price
      description: >-
        This endpoint returns the pair price. This pair price is derived from
        trading data across various exchanges weighted by trade volume.
      operationId: pair-price-new
      parameters:
        - name: instrument
          in: query
          description: >-
            The specific pair instrument to return prices for. **[Examples]**
            `btc_usdt | eth_usdc`
          required: true
          schema:
            type: string
            default: btc_usdc
        - name: timeFormat
          in: query
          description: >-
            Time format of timestamps in the return payload. **[Defaults]**
            `milliseconds | ms* | iso | iso8601 | hr | human_readable`
          required: false
          schema:
            type: string
            default: hr
        - name: timeInterval
          in: query
          description: The time interval of the timeseries in the return payload.
          required: false
          schema:
            type: string
            default: day
        - name: startDate
          in: query
          description: Payload only includes data after this date (inclusive).
          required: false
          schema:
            type: string
            format: date-time
            default: '2026-01-01'
        - name: endDate
          in: query
          description: Payload only includes data up-to this date (exclusive).
          required: false
          schema:
            type: string
            format: date-time
            default: '2026-01-11'
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        instrument:
                          type: string
                          example: btc_usdc
                        arcInstrumentId:
                          type: string
                          example: AMB:BTC000000000_AMB:USD000000333
                        priceUSD:
                          type: decimal
                          example: 90532.21881230843
                        timestamp:
                          type: string
                          format: date-time
                          example: 2020-09-11T20:41:00.000Z
                        volumeAsset:
                          type: decimal
                          example: 1874.335247657359
      deprecated: false
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: x-api-key
      x-default: API_KEY
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
