openapi: 3.2.0
info:
  title: Amberdata Metrics API
  version: '2'
  description: 'Operations tagged Metrics across 2 of this provider''s published API definitions: amberdata-blockchain-openapi.yaml, amberdata-defi-market-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.amberdata.com/blockchains
- url: https://api.amberdata.com/market/defi
security:
- sec0: []
tags:
- name: Metrics
paths:
  /metrics/latest:
    get:
      summary: Metrics - By Blockchain
      description: Get metrics for a specific blockchain.
      operationId: blockchains-metrics-latest
      parameters:
      - name: x-amberdata-blockchain-id
        in: header
        description: The id of the blockchain
        schema:
          type: string
          enum:
          - bitcoin-mainnet
          - bitcoin-abc-mainnet
          - ethereum-mainnet
          - litecoin-mainnet
          - polygon-mainnet
          default: ethereum-mainnet
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                    default: 0
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      algorithm:
                        type: string
                        example: Ethash
                      blockchainId:
                        type: string
                        example: 1c9c969065fcd1cf
                      color:
                        type: string
                        example: '#222222'
                      consensus:
                        type: string
                        example: PoW
                      decimals:
                        type: string
                        example: '18'
                      icon:
                        type: string
                        example: https://cdn.amberdata.io/images/blockchains/1c9c969065fcd1cf.png
                      name:
                        type: string
                        example: Ethereum
                      network:
                        type: string
                        example: Mainnet
                      sizeTotal:
                        type: integer
                        example: 252047415438
                        default: 0
                      slug:
                        type: string
                        example: ethereum-mainnet
                      unit:
                        type: string
                        example: wei
                      utility:
                        type: string
                        example: gas
                      website:
                        type: string
                        example: https://ethereum.org
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: Unauthorized
      deprecated: false
      security:
      - ApiKeyAuth: []
      tags:
      - Metrics
    servers:
    - url: https://api.amberdata.com/blockchains
  /metrics/exchanges/{exchange}/latest:
    get:
      summary: Exchanges Latest
      description: Retrieves the latest exchange daily metrics for the specified decentralized exchange.
      operationId: defi-metrics-exchanges-latest
      parameters:
      - name: exchange
        in: path
        description: 'Exchange for which to return the global metrics - can be specified as:<BR/>- a name: `uniswapv2`<BR/>- an id: `0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f`'
        schema:
          type: string
          default: uniswapv2
        required: true
      - name: timeFormat
        in: query
        description: '**[Optional]** Time format of the timestamps in the return payload.<BR/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr | human_readable`'
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        exchangeId:
                          type: string
                          example: '0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f'
                        timestamp:
                          type: string
                          example: '2020-12-29T07:00:00.000Z'
                        liquidityTotalWETH:
                          type: string
                          example: '696597.309479738872001810'
                        liquidityTotalUSD:
                          type: string
                          example: '493048636.201664275395561830'
                        pairsTradedTotal:
                          type: integer
                          example: 52
                        pairsCumulativeTotal:
                          type: integer
                          example: 27293
                        tradesTotal:
                          type: integer
                          example: 85
      deprecated: false
      tags:
      - Metrics
    servers:
    - url: https://api.amberdata.com/market/defi
  /metrics/exchanges/{exchange}/historical:
    get:
      summary: Exchanges Historical
      description: Retrieves historical daily exchange metrics for the specified decentralized exchange.
      operationId: defi-metrics-exchanges-historical
      parameters:
      - name: exchange
        in: path
        description: 'Exchange for which to return the global metrics - can be specified as:<BR/>- a name: `uniswapv2`<BR/>- an id: `0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f`'
        schema:
          type: string
          default: uniswapv2
        required: true
      - name: startDate
        in: query
        description: '**[Optional]** Payload only includes data after this date (inclusive).<BR/>**[Formats]** `seconds | milliseconds | iso8601`<BR/>**[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: '**[Optional]** Payload only includes data before this date (exclusive).<BR/>**[Formats]** `seconds | milliseconds | iso8601`<BR/>**[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`'
        schema:
          type: string
          format: date-time
      - name: timeFormat
        in: query
        description: '**[Optional]** Time format of the timestamps in the return payload.<BR/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr | human_readable`'
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        exchangeId:
                          type: string
                          example: '0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f'
                        timestamp:
                          type: string
                          example: '2020-12-29T06:00:00.000Z'
                        liquidityTotalWETH:
                          type: string
                          example: '696597.309479738872001810'
                        liquidityTotalUSD:
                          type: string
                          example: '493048636.201664275395561830'
                        pairsTradedTotal:
                          type: integer
                          example: 52
                        pairsCumulativeTotal:
                          type: integer
                          example: 27293
                        tradesTotal:
                          type: integer
                          example: 85
      deprecated: false
      tags:
      - Metrics
    servers:
    - url: https://api.amberdata.com/market/defi
  /metrics/exchanges/{exchange}/assets/{asset}/latest:
    get:
      summary: Assets Latest
      description: Retrieves the latest daily metrics for the specified asset (for example DAI).
      operationId: defi-metrics-assets-latest
      parameters:
      - name: exchange
        in: path
        description: 'Exchange of the asset for which to return the metrics - can be specified as:<BR/>- a name: `uniswapv2`<BR/>- an id: `0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f`'
        schema:
          type: string
          default: uniswapv2
        required: true
      - name: timeFormat
        in: query
        description: '**[Optional]** Time format of the timestamps in the return payload.<BR/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr | human_readable`'
        schema:
          type: string
      - name: asset
        in: path
        description: Asset for which to return the metrics, for example:<BR/>- `0x6b175474e89094c44da98b954eedeac495271d0f` (DAI)
        schema:
          type: string
          default: '0x6b175474e89094c44da98b954eedeac495271d0f'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        exchangeId:
                          type: string
                          example: '0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f'
                        timestamp:
                          type: string
                          example: '2020-12-29T07:00:00.000Z'
                        liquidityTotalNative:
                          type: string
                          example: '493048636.201664275395561830'
                        liquidityTotalUSD:
                          type: string
                          example: '121952471.481071009865993322'
      deprecated: false
      tags:
      - Metrics
    servers:
    - url: https://api.amberdata.com/market/defi
  /metrics/exchanges/{exchange}/assets/{asset}/historical:
    get:
      summary: Assets Historical
      description: Retrieves historical daily metrics for the specified asset (for example DAI).
      operationId: defi-metrics-assets-historical
      parameters:
      - name: exchange
        in: path
        description: 'Exchange for which to return the global metrics - can be specified as:<BR/>- a name: `uniswapv2`<BR/>- an id: `0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f`'
        schema:
          type: string
          default: uniswapv2
        required: true
      - name: asset
        in: path
        description: Asset for which to return the metrics, for example:<BR/>- `0x6b175474e89094c44da98b954eedeac495271d0f` (DAI)
        schema:
          type: string
          default: '0x6b175474e89094c44da98b954eedeac495271d0f'
        required: true
      - name: startDate
        in: query
        description: '**[Optional]** Payload only includes data after this date (inclusive).<BR>**[Formats]** `seconds | milliseconds | iso8601`<BR>**[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`'
        schema:
          type: string
      - name: endDate
        in: query
        description: '**[Optional]** Payload only includes data before this date (exclusive).<BR>**[Formats]** `seconds | milliseconds | iso8601`<BR>**[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`'
        schema:
          type: string
      - name: timeFormat
        in: query
        description: '**[Optional]** Time format of the timestamps in the return payload.<BR/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr | human_readable`'
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        exchangeId:
                          type: string
                          example: '0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f'
                        timestamp:
                          type: string
                          example: '2020-12-29T06:00:00.000Z'
                        liquidityTotalNative:
                          type: string
                          example: '493048636.201664275395561830'
                        liquidityTotalUSD:
                          type: string
                          example: '335.274877053807418927'
      deprecated: false
      tags:
      - Metrics
    servers:
    - url: https://api.amberdata.com/market/defi
  /metrics/exchanges/{exchange}/pairs/{pair}/latest:
    get:
      summary: Pairs Latest
      description: Retrieves the latest minute by minute metrics for the specified pair (for example DAI_WETH).
      operationId: defi-metrics-pairs-latest
      parameters:
      - name: exchange
        in: path
        description: 'Exchange of the asset for which to return the metrics - can be specified as:<BR/>- a name: `uniswapv2`<BR/>- an id: `0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f`'
        schema:
          type: string
          default: uniswapv2
        required: true
      - name: timeFormat
        in: query
        description: '**[Optional]** Time format of the timestamps in the return payload.<BR/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr | human_readable`'
        schema:
          type: string
      - name: pair
        in: path
        description: Pair for which to return the metrics, for example:<BR/>- `0xa478c2975ab1ea89e8196811f51a7b7ade33eb11` (DAI_WETH)
        schema:
          type: string
          default: '0xa478c2975ab1ea89e8196811f51a7b7ade33eb11'
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        exchangeId:
                          type: string
                          example: '0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f'
                        timestamp:
                          type: string
                          example: '2020-12-29T07:00:00.000Z'
                        address:
                          type: string
                          example: '0x6b175474e89094c44da98b954eedeac495271d0f'
                        feesNative:
                          type: string
                          example: '1.535162374359281676'
                        feesUSD:
                          type: string
                          example: '1.537493485860114379'
                        liquidityTotalNative:
                          type: string
                          example: '79732489.660759360681767727'
                        liquidityTotalUSD:
                          type: string
                          example: '79853561.754983786842105053'
                        pairsTradedTotal:
                          type: integer
                          example: 1
                        tradesTotal:
                          type: integer
                          example: 11
                        priceNative:
                          type: string
                          example: '0.00061015503280647554'
                        volumeTotalNative:
                          type: string
                          example: '511.720791453093891836'
                        volumeTotalUSD:
                          type: string
                          example: '512.497828620038126212'
      deprecated: false
      tags:
      - Metrics
    servers:
    - url: https://api.amberdata.com/market/defi
  /metrics/exchanges/{exchange}/pairs/{pair}/historical:
    get:
      summary: Pairs Historical
      description: Retrieves historical daily metrics for the specified pair (for example DAI_WETH).
      operationId: defi-metrics-pairs-historical
      parameters:
      - name: exchange
        in: path
        description: 'Exchange for which to return the global metrics - can be specified as:<BR/>- a name: `uniswapv2`<BR/>- an id: `0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f`'
        schema:
          type: string
          default: uniswapv2
        required: true
      - name: pair
        in: path
        description: Pair for which to return the metrics, for example:<BR/>- `0xa478c2975ab1ea89e8196811f51a7b7ade33eb11` (DAI_WETH)
        schema:
          type: string
          default: '0xa478c2975ab1ea89e8196811f51a7b7ade33eb11'
        required: true
      - name: startDate
        in: query
        description: '**[Optional]** Payload only includes data after this date (inclusive).<BR>**[Formats]** `seconds | milliseconds | iso8601`<BR>**[Examples]** `1578531600 | 1578531600000 | 2020-09-01T00:00:00`'
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: '**[Optional]** Payload only includes data before this date (exclusive).<BR>**[Formats]** `seconds | milliseconds | iso8601`<BR>**[Examples]** `1578531600 | 1578531600000 | 2020-09-02T00:00:00`'
        schema:
          type: string
          format: date-time
      - name: timeFormat
        in: query
        description: '**[Optional]** Time format of the timestamps in the return payload.<BR/>**[Defaults]** `milliseconds | ms* | iso | iso8601 | hr | human_readable`'
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        exchangeId:
                          type: string
                          example: '0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f'
                        timestamp:
                          type: string
                          example: '2020-12-29T06:00:00.000Z'
                        address:
                          type: string
                          example: '0x6b175474e89094c44da98b954eedeac495271d0f'
                        feesNative:
                          type: string
                          example: '143.946130507571397825'
                        feesUSD:
                          type: string
                          example: '144.013821392561330123'
                        liquidityTotalNative:
                          type: string
                          example: '103973505.181589129290317518'
                        liquidityTotalUSD:
                          type: string
                          example: '104022398.879227475227263226'
                        pairsTradedTotal:
                          type: integer
                          example: 1
                        tradesTotal:
                          type: integer
                          example: 3445
                        priceNative:
                          type: string
                          example: '0.00075603290509702245'
                        volumeTotalNative:
                          type: string
                          example: '47982.043502523799274881'
                        volumeTotalUSD:
                          type: string
                          example: '48004.607130853776707797'
      deprecated: false
      tags:
      - Metrics
    servers:
    - url: https://api.amberdata.com/market/defi
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    sec0:
      type: apiKey
      in: header
      x-default: API_KEY
      name: x-api-key
x-refined-from:
- amberdata-blockchain-openapi.yaml
- amberdata-defi-market-openapi.yaml
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
