openapi: 3.1.0
info:
  title: market-api
  version: '2'
servers:
  - url: https://api.amberdata.com/markets
security:
  - ApiKeyAuth: []
paths:
  /spot/exchanges/information:
    get:
      summary: Instruments
      description: >-
        Provides detailed metadata for available trading pairs on supported Spot
        market exchanges, including exchange names, trading instruments, and
        available data types (OHLCV, Order Book Snapshots, Order Book Events,
        Ticker, and Trades) with respective data availability periods.
      operationId: get-market-exchanges
      parameters:
        - name: exchange
          in: query
          description: only return data for the given exchanges (comma separated)
          schema:
            type: string
        - name: instrument
          in: query
          description: Only return data for the given pair.
          schema:
            type: string
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.
            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
        - name: includeInactive
          in: query
          description: >-
            **[Optional]** If true, endpoint returns all instruments, including
            delisted ones.  **[Defaults]** True | False*.
          schema:
            type: boolean
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/markets/spot/exchanges/information?cursor=N4IglgdgxgNgrgEwKYEkIEMoBcwDckgBcWATnEgDTjTzICqEAznAA4sD2JWSCAogB5QAFuggBzJIyIAzdDEaUQOALZIAYp2XosREMrAwYYBVHYQEUqtM3bdAK0ZmQVFuglEAjFUZgAXgUIAVgAGYIBfIA
                        api-version: '2023-09-30'
                      data:
                        - exchange: binance
                          instrument: 1000cat_bnb
                          active: true
                          ohlcv:
                            startDate: 1734393600000
                            endDate: 1739750400000
                          orderBookSnapshot:
                            startDate: 1734427800000
                            endDate: 1739895780000
                          orderBookEvent:
                            startDate: 1734426029092
                            endDate: 1739895599692
                          ticker:
                            startDate: 1734426147738
                            endDate: 1739895595115
                          trade:
                            startDate: 1734426214300
                            endDate: 1739894107524
                        - exchange: binance
                          instrument: 1000cat_fdusd
                          active: true
                          ohlcv:
                            startDate: 1734393600000
                            endDate: 1739750400000
                          orderBookSnapshot:
                            startDate: 1734427800000
                            endDate: 1739895780000
                          orderBookEvent:
                            startDate: 1734426029293
                            endDate: 1739895599593
                          ticker:
                            startDate: 1734426145880
                            endDate: 1739895592405
                          trade:
                            startDate: 1734426221718
                            endDate: 1739895250067
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                    default: 0
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next: {}
                      data:
                        type: object
                        properties:
                          gdax:
                            type: object
                            properties:
                              00_usd:
                                type: object
                                properties:
                                  ohlc:
                                    type: object
                                    properties:
                                      startDate:
                                        type: integer
                                        example: 1665508560000
                                        default: 0
                                      endDate:
                                        type: integer
                                        example: 1722369180000
                                        default: 0
                                  order_book_update:
                                    type: object
                                    properties:
                                      startDate:
                                        type: integer
                                        example: 1665507779045
                                        default: 0
                                      endDate:
                                        type: integer
                                        example: 1722368954000
                                        default: 0
                                  order_book:
                                    type: object
                                    properties:
                                      startDate:
                                        type: integer
                                        example: 1665510000000
                                        default: 0
                                      endDate:
                                        type: integer
                                        example: 1722369300000
                                        default: 0
                                  ticker:
                                    type: object
                                    properties:
                                      startDate:
                                        type: integer
                                        example: 1665508608000
                                        default: 0
                                      endDate:
                                        type: integer
                                        example: 1722366995000
                                        default: 0
                                  trade:
                                    type: object
                                    properties:
                                      startDate:
                                        type: integer
                                        example: 1665508608000
                                        default: 0
                                      endDate:
                                        type: integer
                                        example: 1722366995000
                                        default: 0
      deprecated: false
      security:
        - ApiKeyAuth: []
  /spot/exchanges/reference:
    get:
      summary: Reference
      description: >-
        Returns essential reference details for Spot market trading pairs on
        supported exchanges, including symbols, market status, price and volume
        limits, cost and leverage constraints, precision requirements, and
        listing metadata.
      operationId: spot-exchanges-reference
      parameters:
        - name: exchange
          in: query
          description: >-
            **[Optional]** Only return data for the given exchange(s) (comma
            separated)
          schema:
            type: string
        - name: instrument
          in: query
          description: Only return data for the given pair.
          schema:
            type: string
        - name: includeInactive
          in: query
          description: >-
            **[Optional]** If true, endpoint returns all pairs, including
            delisted ones. **[Defaults]** `True | False*`.
          schema:
            type: boolean
        - name: includeOriginalReference
          in: query
          description: >-
            **[Optional]** If true, endpoint returns originalReference.
            **[Defaults]** `True | False*`.
          schema:
            type: boolean
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/markets/spot/exchanges/reference?cursor=N4IglgdgxgNgrgEwKYEkIEMoBcwDckgBcAZujAM5IA0408yA8gE5gDmkZASksUk0tAIkylGpFiIkAVQjk4AB3kB7JliQIAogA8oAC3QRWSckVIVqIHAFskAMRVX0WIiCtgYMMJShKICEzTEDk4uAFbkviA08uhGRACMNORgAF5CAKwADJkAvkA
                        api-version: '2023-09-30'
                      data:
                        - exchange: arkham
                          instrument: ada_usdt
                          baseSymbol: ada
                          quoteSymbol: usdt
                          market: spot
                          exchangeEnabled: true
                          limitsPriceMin: 0.0001
                          limitsPriceMax: 1000
                          limitsVolumeMin: 0.1
                          limitsVolumeMax: 900000
                          limitsMarketMin: null
                          limitsMarketMax: null
                          limitsLeverageMin: null
                          limitsLeverageMax: 0
                          limitsLeverageSuperMax: null
                          limitsCostMin: 5
                          limitsCostMax: null
                          precisionPrice: 0.0001
                          precisionVolume: 0.1
                          precisionBase: null
                          precisionQuote: null
                          listingTimestamp: null
              schema:
                oneOf:
                  - title: Success
                    type: object
                    properties:
                      status:
                        type: integer
                        example: 200
                      title:
                        type: string
                        example: OK
                      description:
                        type: string
                        example: Successful request
                      payload:
                        type: object
                        properties:
                          metadata:
                            type: object
                            properties:
                              next:
                                type: string
                                example: >-
                                  https://api.amberdata.com/markets/spot/exchanges/reference?cursor=N4IglgdgxgNgrgEwKYEkIEMoBcwDckgBcAZujAM5IA0408yA8gE5gDmkZASksUk0tAIkylGpFiIkAVQjk4AB3kB7JliQIAogA8oAC3QRWSckVIVqIHAFskAMRVX0WIiCtgYMMJShKICEzTEDk4uAFbkviA08uhGRACMNORgAF5CAKwADJkAvkA
                              api-version:
                                type: string
                                example: '2023-09-30'
                          data:
                            type: array
                            items:
                              type: object
                              properties:
                                exchange:
                                  type: string
                                  example: arkham
                                instrument:
                                  type: string
                                  example: ada_usdt
                                baseSymbol:
                                  type: string
                                  example: ada
                                quoteSymbol:
                                  type: string
                                  example: usdt
                                market:
                                  type: string
                                  example: spot
                                exchangeEnabled:
                                  type: boolean
                                  example: true
                                limitsPriceMin:
                                  type: number
                                  example: 0.0001
                                limitsPriceMax:
                                  type: number
                                  example: 1000
                                limitsVolumeMin:
                                  type: number
                                  example: 0.1
                                limitsVolumeMax:
                                  type: number
                                  example: 900000
                                limitsMarketMin:
                                  type: number
                                  nullable: true
                                  example: null
                                limitsMarketMax:
                                  type: number
                                  nullable: true
                                  example: null
                                limitsLeverageMin:
                                  type: number
                                  nullable: true
                                  example: null
                                limitsLeverageMax:
                                  type: number
                                  example: 0
                                limitsLeverageSuperMax:
                                  type: number
                                  nullable: true
                                  example: null
                                limitsCostMin:
                                  type: number
                                  example: 5
                                limitsCostMax:
                                  type: number
                                  nullable: true
                                  example: null
                                precisionPrice:
                                  type: number
                                  example: 0.0001
                                precisionVolume:
                                  type: number
                                  example: 0.1
                                precisionBase:
                                  type: number
                                  nullable: true
                                  example: null
                                precisionQuote:
                                  type: number
                                  nullable: true
                                  example: null
                                listingTimestamp:
                                  type: string
                                  nullable: true
                                  example: null
      deprecated: false
  /spot/order-book-snapshots/information:
    get:
      summary: Information
      description: >-
        Provides availability details for Spot market order book snapshots
        across supported exchanges, including trading pairs, data coverage start
        and end times, and exchange-specific information.
      operationId: spot-order-book-information
      parameters:
        - name: exchange
          in: query
          description: >-
            The exchange(s) for which to retrieve spot order book data. Example:
            exchange=bitfinex,bitstamp
          schema:
            type: string
            default: bitfinex
        - name: instrument
          in: query
          description: Only return data for the given pair.
          schema:
            type: string
        - name: includeInactive
          in: query
          description: >-
            **[Optional]** If `true`, endpoint returns all instruments,
            including delisted ones.
          schema:
            type: boolean
            default: false
        - name: timeFormat
          in: query
          description: '**[Optional]** Time format of the timestamps in the return payload.'
          schema:
            type: string
            enum:
              - milliseconds
              - ms*
              - iso
              - iso8601
              - hr
              - human_readable
            default: hr
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/markets/spot/order-book-snapshots/information?cursor=N4IglgdgxgNgrgEwKYEkIEMoBcwDckgBcAZujAM5IA0408yAqhOXAA6sD2ATlkggKIAPKAAt0EAOZJyRUhWogcAWyQAxbkvRYiIJWBgwwlKBwgIZNYhq06AVuVMgardFKIBGGuTAAvAoQBWAAYggF8gA
                        api-version: '2023-09-30'
                      data:
                        - address: '0x111111111117dc0aa78b770fa6a738034120c302'
                          exchange: binance
                          instrument: 1inch_btc
                          startDate: 1608872640000
                          endDate: 1717599240000
                        - address: '0x111111111117dc0aa78b770fa6a738034120c302'
                          exchange: binance
                          instrument: 1inch_usdt
                          startDate: 1608872640000
                          endDate: 1717598940000
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next:
                            type: string
                          api-version:
                            type: string
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            exchange:
                              type: string
                            instrument:
                              type: string
                            startDate:
                              type: integer
                            endDate:
                              type: integer
      deprecated: false
      security:
        - ApiKeyAuth: []
  /spot/order-book-snapshots/{instrument}:
    get:
      summary: Snapshots Historical
      description: >-
        Delivers historical order book snapshots for specified Spot market
        trading pairs, including detailed bid and ask levels, volume, and order
        count per price level, along with timestamps to track market depth over
        time.
      operationId: spot-order-book-snapshots
      parameters:
        - name: instrument
          in: path
          description: The spot instrument for which data will be retrieved.
          schema:
            type: string
            default: eth_usd
          required: true
        - name: exchange
          in: query
          description: >-
            The exchange for which data should be retrieved. Only **1** exchange
            is allowed.
          required: true
          schema:
            type: string
            default: bitfinex
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive).  **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive).  **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
        - name: maxLevel
          in: query
          description: >-
            The number of order book levels that should be returned. By default,
            returns max available levels.
          schema:
            type: integer
            format: int32
        - name: timestamp
          in: query
          description: >-
            Filter for order book data that is less or equal to this specified
            timestamp.
          schema:
            type: string
        - name: timeFormat
          in: query
          description: '**[Optional]** Time format of the timestamps in the response.'
          schema:
            type: string
            enum:
              - milliseconds
              - ms*
              - iso
              - iso8601
              - hr
              - human_readable
            default: hr
        - name: sortDirection
          in: query
          description: >-
            **[Optional]** Specifies the direction in which the data is sorted
            (by timestamp).   **[Defaults]** asc (ascending order).   **[Usage
            Conditions]** This parameter can only be used if the `startDate` and
            `endDate` timeframe is within the most recent 24 hours, or if the
            `startDate` and `endDate` parameters are not used at all.  
            **[Examples]** ascending | descending | asc | desc
          schema:
            type: string
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        requestedStartDate: 1717513062160
                        requestedEndDate: 1717599462160
                        returnedStartDate: 1717513080000
                        returnedEndDate: 1717515360000
                        next: >-
                          https://api.amberdata.com/markets/spot/order-book-snapshots/eth_usd?cursor=N4IgxgrgTgzg9lEAuAdhANugNCGAXAQyjwBEC8BTZARgHY6BWahgZgDYAGLjnClAEzKUa9WgwCc4gCxsATNU448ASwC2FAGIJV5ZCFXLMymBTBwBMEErUUAkikpQAbgXTJQKAur0BPCkUscGABHdAA5LyokED8iK1xQiPUABXRoV19-KHQfeP4KADMCDDxkAA42KW4uHB0AD2Q2FlkpKTLqnhB0ODgAawAjAjBe5IooZTh%2BZDRMAF8cAu1daIAreBR4ijqwAAsCFABzKJB%2B5TwC5RQt%2BJV1fC8AB2mMbH0COoAZCicKN1QXoIIPAAaQouWidEYzHY1QA%2BhxYadzpctvDYXgoBAKLCKHgdrCIDAprMgA
                        api-version: '2023-09-30'
                      data:
                        - exchange: bitfinex
                          instrument: eth_usd
                          timestamp: 1717513080000
                          sequence: null
                          ask:
                            - price: 3780.7
                              volume: 7.33
                              numOrders: 1
                            - price: 3780.8
                              volume: 11.60410568
                              numOrders: 1
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          requestedStartDate:
                            type: integer
                          requestedEndDate:
                            type: integer
                          returnedStartDate:
                            type: integer
                          returnedEndDate:
                            type: integer
                          next:
                            type: string
                          api-version:
                            type: string
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            exchange:
                              type: string
                            instrument:
                              type: string
                            timestamp:
                              type: integer
                            sequence:
                              type: string
                            ask:
                              type: array
                              items:
                                type: object
                                properties:
                                  price:
                                    type: number
                                  volume:
                                    type: number
                                  numOrders:
                                    type: integer
      deprecated: false
      security:
        - ApiKeyAuth: []
  /spot/order-book-events/{instrument}:
    get:
      summary: Events/Updates Historical
      description: >-
        Provides historical updates to Spot market order books, capturing
        real-time changes in bid and ask levels, volumes, and order counts for
        specified trading pairs, with precise timestamps for event sequencing
        and tracking market activity.
      operationId: spot-order-book-events
      parameters:
        - name: instrument
          in: path
          description: The spot instrument for which data will be retrieved.
          schema:
            type: string
            default: btc_usd
          required: true
        - name: exchange
          in: query
          description: >-
            The exchange for which data should be retrieved. Only **1** exchange
            is allowed.
          required: true
          schema:
            type: string
            default: gdax
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive).  **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
            default: '2024-03-01T00:00:00'
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive).  **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
            default: '2024-03-01T01:00:00'
        - name: timeFormat
          in: query
          description: '**[Optional]** Time format of the timestamps in the response.'
          schema:
            type: string
            enum:
              - milliseconds
              - ms*
              - iso
              - iso8601
              - hr
              - human_readable
            default: hr
        - name: sortDirection
          in: query
          description: >-
            **[Optional]** Specifies the direction in which the data is sorted
            (by timestamp).   **[Defaults]** asc (ascending order).   **[Usage
            Conditions]** This parameter can only be used if the `startDate` and
            `endDate` timeframe is within the most recent 24 hours, or if the
            `startDate` and `endDate` parameters are not used at all.  
            **[Examples]** ascending | descending | asc | desc
          schema:
            type: string
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        requestedStartDate: 2024-03-01 00:00:00 000
                        returnedStartDate: 2024-03-01 00:00:00 005
                        returnedEndDate: 2024-03-01 00:00:42 218
                        next: >-
                          https://api.amberdata.com/markets/spot/order-book-events/btc_usd?cursor=N4IgxgrgTgzg9lEAuAdhANugNCGAXAQyjwBEC8BTZARgHYAGATgCYBWa5gFmeeoA4cFFABMylGgxatOfenLk48ASwC2FAGIIV5ZCAAWEbSgBKFAsIIAjdFUWqKASRSUoANwLpkoFATW6AnmawIDgwAI7oAHK%2BVEgggUQhuBHRagAK6NAeAUHo-knCFABmBBh4yHwAbJzyCiDaAB7IlQDMXDK19DjocHAA1pYEYH1pFFBKcMLIaJgAvjhFWjpxAFbwKEkUDWB6BCgA5rEg%2BxZNOEooYJmFAKooMBAADo8IlMIAotu7BxQwyCXoGAUUKEYjRFBwIFgOAiP5IRjyboEfAAcSgcCeXhAF3wUEMQnKcUseDAAH0IDApoIvntDroTgQziAtjtaRQACr2fC%2BR66Zj0LgAWnoLWF1AABHIkFLuOLeHxNjSfpy1NyVI9wZCKNDYcgEXUgWEIEIwEdOLQ%2BMxKsxaC1aPLLYwksi%2BsgANqgR7jU3NDjURgAOk4rBwrjgmT80pwaBUAHkoIVgqgMOhZgBdHCWJRTJButOzWZAA
                        api-version: '2023-09-30'
                      data:
                        - instrument: btc_usd
                          exchange: gdax
                          exchangeTimestamp: 2024-03-01 00:00:00 005
                          exchangeTimestampNanoseconds: 174000
                          sequence: '478262695005780'
                          ask: []
                          bid:
                            - price: 61141.86
                              volume: 0
                              numOrders: null
                        - instrument: btc_usd
                          exchange: gdax
                          exchangeTimestamp: 2024-03-01 00:00:00 005
                          exchangeTimestampNanoseconds: 174000
                          sequence: '478262695005781'
                          ask: []
                          bid:
                            - price: 61099.03
                              volume: 0
                              numOrders: null
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          requestedStartDate:
                            type: string
                          returnedStartDate:
                            type: string
                          returnedEndDate:
                            type: string
                          next:
                            type: string
                          api-version:
                            type: string
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            instrument:
                              type: string
                            exchange:
                              type: string
                            exchangeTimestamp:
                              type: string
                            exchangeTimestampNanoseconds:
                              type: integer
                            sequence:
                              type: string
                            ask:
                              type: array
                              items: {}
                            bid:
                              type: array
                              items:
                                type: object
                                properties:
                                  price:
                                    type: number
                                  volume:
                                    type: integer
                                  numOrders:
                                    type: string
      deprecated: false
      security:
        - ApiKeyAuth: []
  /spot/tickers/information:
    get:
      summary: Information
      description: >-
        Provides availability details for Spot market ticker data across
        supported exchanges, including trading pairs, data coverage start and
        end times, and exchange-specific information.
      operationId: spot-tickers-information
      parameters:
        - name: exchange
          in: query
          description: >-
            **[Optional]** The exchange(s) for which to retrieve the most
            current data (comma separated). **[Default]** All available
            exchanges.
          schema:
            type: string
        - name: instrument
          in: query
          description: Only return data for the given pair.
          schema:
            type: string
        - name: includeInactive
          in: query
          description: >-
            **[Optional]** If true, endpoint returns all instruments, including
            delisted ones.
          schema:
            type: boolean
            default: false
        - name: timeFormat
          in: query
          description: '**[Optional]** Time format of the timestamps in the response.'
          schema:
            type: string
            enum:
              - milliseconds
              - ms*
              - iso
              - iso8601
              - hr
              - human_readable
            default: hr
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/markets/spot/tickers/information?cursor=N4IglgdgxgNgrgEwKYEkIEMoBcwDckgBcAZujAM5IA0408yAqhOXAA6sD2ATlkggKIAPKAAt0EAOZJyRUhWogcAWyQAxbkvRYiIJWBgwwlKBwgIZNYhq06AVuVMgardFKIBGGuTAAvAoQBWAAYggF8gA
                        api-version: '2023-09-30'
                      data:
                        - address: null
                          exchange: binance
                          instrument: 1000sats_fdusd
                          startDate: 1702385053515
                          endDate: 1717601626948
                        - address: null
                          exchange: binance
                          instrument: 1000sats_try
                          startDate: 1702385044487
                          endDate: 1717601697342
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next:
                            type: string
                          api-version:
                            type: string
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            exchange:
                              type: string
                            instrument:
                              type: string
                            startDate:
                              type: integer
                            endDate:
                              type: integer
      deprecated: false
      security:
        - ApiKeyAuth: []
  /spot/tickers/{instrument}:
    get:
      summary: Historical
      description: >-
        Delivers historical ticker data for Spot market trading pairs, providing
        bid, ask, mid, and last prices, along with respective volumes,
        timestamps, and sequencing for tracking market price changes over time.
      operationId: spot-tickers-historical
      parameters:
        - name: instrument
          in: path
          description: The spot instrument for which data will be retrieved.
          schema:
            type: string
            default: eth_usdt
          required: true
        - name: exchange
          in: query
          description: >-
            The exchange for which data should be retrieved. Only **1** exchange
            is allowed.
          required: true
          schema:
            type: string
            default: binance
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive). **[Defaults]** Beginning of the current hour (max time
            range is 1 hour). **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive). **[Defaults]** One hour after the beginning of the
            current hour (max time range is 1 hour). **[Formats]** `seconds |
            milliseconds | iso8601` **[Examples]** `1578531600 | 1578531600000 |
            2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: timeFormat
          in: query
          description: '**[Optional]** Time format of the timestamps in the return payload.'
          schema:
            type: string
            enum:
              - milliseconds
              - ms*
              - iso
              - iso8601
              - hr
              - human_readable
            default: hr
        - name: sortDirection
          in: query
          description: >-
            **[Optional]** Specifies the direction in which the data is sorted
            (by timestamp).   **[Defaults]** asc (ascending order).   **[Usage
            Conditions]** This parameter can only be used if the `startDate` and
            `endDate` timeframe is within the most recent 24 hours, or if the
            `startDate` and `endDate` parameters are not used at all.  
            **[Examples]** ascending | descending | asc | desc
          schema:
            type: string
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/markets/spot/tickers/eth_usdt?cursor=N4IgpgHgxgFghgOwOZhALhAIwJYMVVAGhCgFcAnAZwHtz0FSAbR4ygFznLYBE43U0ARgDsIgKyCxYgMwAOAJwAWWcTAIAJr37oRIgGwAGQfIBMJ6YeK4ojUurABVBJVIAHV7X7qAotHjIwSnQAMzhGSjBiNmwAWzAAMVoYvnQQGOxmbAioag0g4mCklIwAKxoEEFZPAGkwAE9U3WEJKTklWQB9QVlBA0VpDpw8BAIO6WkReVFBQz0OsDYYDtJKdTYQAF8gA
                        api-version: '2023-09-30'
                      data:
                        - instrument: eth_usdt
                          exchange: binance
                          exchangeTimestamp: 1717515522361
                          exchangeTimestampNanoseconds: 21307
                          bid: 3797.2
                          ask: 3797.21
                          mid: 3797.205
                          last: null
                          bidVolume: 38.2898
                          askVolume: 13.422
                          sequence: '33179708313'
                          askTimestamp: null
                          bidTimestamp: null
                          askTimestampNanoseconds: null
                          bidTimestampNanoseconds: null
                        - instrument: eth_usdt
                          exchange: binance
                          exchangeTimestamp: 1717515522361
                          exchangeTimestampNanoseconds: 169012
                          bid: 3797.2
                          ask: 3797.21
                          mid: 3797.205
                          last: null
                          bidVolume: 38.2898
                          askVolume: 11.8419
                          sequence: '33179708314'
                          askTimestamp: null
                          bidTimestamp: null
                          askTimestampNanoseconds: null
                          bidTimestampNanoseconds: null
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next:
                            type: string
                          api-version:
                            type: string
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            instrument:
                              type: string
                            exchange:
                              type: string
                            exchangeTimestamp:
                              type: integer
                            exchangeTimestampNanoseconds:
                              type: integer
                            bid:
                              type: number
                            ask:
                              type: number
                            mid:
                              type: number
                            last:
                              type: string
                            bidVolume:
                              type: number
                            askVolume:
                              type: number
                            sequence:
                              type: string
                            askTimestamp:
                              type: number
                            bidTimestamp:
                              type: number
                            askTimestampNanoseconds:
                              type: number
                            bidTimestampNanoseconds:
                              type: number
      deprecated: false
      security:
        - ApiKeyAuth: []
  /spot/trades/information:
    get:
      summary: Information
      description: >-
        Provides availability details for Spot market trade data across
        supported exchanges, including trading pairs, data coverage start and
        end times, and exchange-specific information.
      operationId: spot-trades-information
      parameters:
        - name: exchange
          in: query
          description: Only return data for the given exchanges (comma separated).
          schema:
            type: string
        - name: instrument
          in: query
          description: Only return data for the given pair.
          schema:
            type: string
        - name: includeInactive
          in: query
          description: >-
            **[Optional]** If true, endpoint returns all instruments, including
            delisted ones. **[Defaults]** `True | False*`.
          schema:
            type: boolean
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.
            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/markets/spot/trades/information?cursor=N4IglgdgxgNgrgEwKYEkIEMoBcwDckgBcAZujAM5IA0408yAqhOXAA6sD2ATlkggKIAPKAAt0EAOZJyRUhWogcAWyQAxbkvRYiIJWBgwwlKBwgIZNYhq06AVuVMgardFKIBGGuTAAvAoQBWAAYggF8gA
                        api-version: '2023-09-30'
                      data:
                        - address: null
                          exchange: binance
                          instrument: 1000sats_fdusd
                          startDate: 1702382541331
                          endDate: 1717601579073
                        - address: null
                          exchange: binance
                          instrument: 1000sats_try
                          startDate: 1702382540945
                          endDate: 1717601690698
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next:
                            type: string
                          api-version:
                            type: string
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            address:
                              type: string
                            exchange:
                              type: string
                            instrument:
                              type: string
                            startDate:
                              type: integer
                            endDate:
                              type: integer
      deprecated: false
      security:
        - ApiKeyAuth: []
  /spot/trades/{instrument}:
    get:
      summary: Historical
      description: >-
        Provides historical trade data for Spot market trading pairs, detailing
        individual trade prices, volumes, buy/sell indicators, and timestamps to
        track transaction activity over time on supported exchanges.
      operationId: spot-trades-historical
      parameters:
        - name: exchange
          in: query
          description: >-
            The exchange for which data should be retrieved. Only **1** exchange
            is allowed.
          required: true
          schema:
            type: string
            default: gdax
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive).  **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
            default: '2023-01-20T00:00:00'
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive).  **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
            default: '2023-01-20T00:10:00'
        - name: instrument
          in: path
          description: The spot instrument for which data will be retrieved.
          schema:
            type: string
            default: eth_usd
          required: true
        - name: timeFormat
          in: query
          description: '**[Optional]** Time format of the timestamps in the return payload.'
          schema:
            type: string
            enum:
              - milliseconds
              - ms
              - iso
              - iso8601
              - hr
              - human_readable
            default: hr
        - name: sortDirection
          in: query
          description: >-
            **[Optional]** Specifies the direction in which the data is sorted
            (by timestamp).   **[Defaults]** asc (ascending order).   **[Usage
            Conditions]** This parameter can only be used if the `startDate` and
            `endDate` timeframe is within the most recent 24 hours, or if the
            `startDate` and `endDate` parameters are not used at all.  
            **[Examples]** ascending | descending | asc | desc
          schema:
            type: string
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: null
                        api-version: '2023-09-30'
                      data:
                        - instrument: eth_usd
                          exchange: gdax
                          exchangeTimestamp: 1674172800137
                          exchangeTimestampNanoseconds: 927000
                          isBuySide: true
                          price: 1550.96
                          volume: 0.19342803
                          tradeId: '414516225'
                          sequence: null
                          quoteVolume: null
                        - instrument: eth_usd
                          exchange: gdax
                          exchangeTimestamp: 1674172800137
                          exchangeTimestampNanoseconds: 927000
                          isBuySide: true
                          price: 1550.96
                          volume: 0.2347599
                          tradeId: '414516226'
                          sequence: null
                          quoteVolume: null
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next:
                            type: string
                          api-version:
                            type: string
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            instrument:
                              type: string
                            exchange:
                              type: string
                            exchangeTimestamp:
                              type: integer
                            exchangeTimestampNanoseconds:
                              type: integer
                            isBuySide:
                              type: boolean
                            price:
                              type: number
                            volume:
                              type: number
                            tradeId:
                              type: string
                            sequence:
                              type: string
                            quoteVolume:
                              type: number
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      security:
        - ApiKeyAuth: []
  /spot/ohlcv/information:
    get:
      summary: Information
      description: >-
        Provides availability details for Spot market OHLCV (Open, High, Low,
        Close, Volume) data across supported exchanges, including trading pairs
        and data coverage periods.
      operationId: get-market-ohlc-information
      parameters:
        - name: exchange
          in: query
          description: >-
            **[Optional]** Only return data for the specified exchange(s) (comma
            separated).
          schema:
            type: string
        - name: instrument
          in: query
          description: Only return data for the given pair.
          schema:
            type: string
        - name: includeInactive
          in: query
          description: >-
            **[Optional]** If true, endpoint returns all instruments, including
            delisted ones. **[Defaults]** `True | False*`.
          schema:
            type: boolean
        - name: timeInterval
          in: query
          description: >-
            **[Optional]** Time interval. **[Defaults]** `minutes | hours |
            days*`
          schema:
            type: string
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.
            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/markets/spot/ohlcv/information?cursor=N4IglgdgxgNgrgEwKYEkIEMoBcwDckgBcAZujAM5IA0408yAqhOXAA6sD2ATlkggKIAPKAAt0EAOZJyRUhWogcAW1QReXXGSKgMKoiAToAnjJrkAjjABy6PYQPGQZyzZUAFeFy33DYGEacDJFI4GCwiAGYARgA2ACY4gBYABlTUmiV0QSIYiKTEgA409JAYDg4AawAjTAq3JC4wDgQiOOSAXxplJAAxbkzw%2ByU-GDBKKA4IBFMQYn70QZAAK3JJwNZ0KSIoszAALwJCAFZU9qA
                        api-version: '2023-09-30'
                      data:
                        - address: null
                          exchange: binance
                          instrument: 1000sats_fdusd
                          startDate: 1702339200000
                          endDate: 1721520000000
              schema:
                oneOf:
                  - title: Success
                    type: object
                    properties:
                      status:
                        type: integer
                        example: 200
                        default: 0
                      title:
                        type: string
                        example: OK
                      description:
                        type: string
                        example: Successful request
                      payload:
                        type: object
                        properties:
                          metadata:
                            type: object
                            properties:
                              next:
                                type: string
                                example: >-
                                  https://api.amberdata.com/markets/spot/ohlcv/information?cursor=N4IglgdgxgNgrgEwKYEkIEMoBcwDckgBcAZujAM5IA0408yAqhOXAA6sD2ATlkggKIAPKAAt0EAOZJyRUhWogcAW1QReXXGSKgMKoiAToAnjJrkAjjABy6PYQPGQZyzZUAFeFy33DYGEacDJFI4GCwiAGYARgA2ACY4gBYABlTUmiV0QSIYiKTEgA409JAYDg4AawAjTAq3JC4wDgQiOOSAXxplJAAxbkzw%2ByU-GDBKKA4IBFMQYn70QZAAK3JJwNZ0KSIoszAALwJCAFZU9qA
                              api-version:
                                type: string
                                example: '2023-09-30'
                          data:
                            type: array
                            items:
                              type: object
                              properties:
                                address: {}
                                exchange:
                                  type: string
                                  example: binance
                                instrument:
                                  type: string
                                  example: 1000sats_fdusd
                                startDate:
                                  type: integer
                                  example: 1702339200000
                                  default: 0
                                endDate:
                                  type: integer
                                  example: 1721520000000
                                  default: 0
      deprecated: false
  /spot/ohlcv/{instrument}:
    get:
      summary: Historical
      description: >-
        Provides historical OHLCV (Open, High, Low, Close, Volume) data for Spot
        market trading pairs, enabling analysis of price movements and trading
        volumes over time across supported exchanges.
      operationId: get-historical-ohlc
      parameters:
        - name: instrument
          in: path
          description: The market pair for which to retrieve open-high-low-close.
          schema:
            type: string
            default: eth_usd
          required: true
        - name: exchange
          in: query
          description: >-
            The exchange(s) for which to retrieve OHLCV. Example:
            exchange=bitfinex,bitstamp
          required: true
          schema:
            type: string
            default: bitfinex
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive).  **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive).  **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: timeInterval
          in: query
          description: >-
            **[Optional]** Time interval. **[Defaults]** `minutes | hours |
            days*`
          schema:
            type: string
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.
            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
        - name: sortDirection
          in: query
          description: >-
            **[Optional]** Specifies the direction in which the data is sorted
            (by timestamp).   **[Defaults]** asc (ascending order).   **[Usage
            Conditions]** This parameter can only be used if the `startDate` and
            `endDate` timeframe is within the most recent 24 hours, or if the
            `startDate` and `endDate` parameters are not used at all.  
            **[Examples]** ascending | descending | asc | desc
          schema:
            type: string
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/markets/spot/ohlcv/btc_usd?cursor=N4IgpgHgxgFghgOwOZhALhEgJnCIA0IUArgE4DOA9qegsQDb2HkAucpLAInC6mgIwA2AJwB2ABwAWQZIAM8%2BYTAIs3Xun6iATJoCss0dq37CLAJYBbMAEkEvUgDc49dKARwr6EDgCe5AiDkAI70AHIefN5wPgHBYREACvRkzl44ZvQxhFhgAGZwDCzoAMxCWlpyCrKEFrjogsUVkuJV1SD0lJQA1gBGcFBdCWCkZpRY6FqyAL6EZghQyTkAqgjkxAAO69S8WACi0PDIYP5o%2BfTkYKaWYABi1LVFGBYZ9GYXUJQq-oS59zxeACsqAgAvQ4KwAOKkSgbVyYHB4NCgcxWVgedYaEQSaSVBRXVFsCzrcIISjvT5YE5tOY5RHTKZTIA
                        api-version: '2023-09-30'
                      data:
                        - instrument: btc_usd
                          exchange: gdax
                          exchangeTimestamp: 1690156800000
                          open: 30081.61
                          high: 30099.99
                          low: 28850
                          close: 29176.98
                          volume: 14484.27543962
              schema:
                oneOf:
                  - title: Success
                    type: object
                    properties:
                      status:
                        type: integer
                        example: 200
                        default: 0
                      title:
                        type: string
                        example: OK
                      description:
                        type: string
                        example: Successful request
                      payload:
                        type: object
                        properties:
                          metadata:
                            type: object
                            properties:
                              next:
                                type: string
                                example: >-
                                  https://api.amberdata.com/markets/spot/ohlcv/btc_usd?cursor=N4IgpgHgxgFghgOwOZhALhEgJnCIA0IUArgE4DOA9qegsQDb2HkAucpLAInC6mgIwA2AJwB2ABwAWQZIAM8%2BYTAIs3Xun6iATJoCss0dq37CLAJYBbMAEkEvUgDc49dKARwr6EDgCe5AiDkAI70AHIefN5wPgHBYREACvRkzl44ZvQxhFhgAGZwDCzoAMxCWlpyCrKEFrjogsUVkuJV1SD0lJQA1gBGcFBdCWCkZpRY6FqyAL6EZghQyTkAqgjkxAAO69S8WACi0PDIYP5o%2BfTkYKaWYABi1LVFGBYZ9GYXUJQq-oS59zxeACsqAgAvQ4KwAOKkSgbVyYHB4NCgcxWVgedYaEQSaSVBRXVFsCzrcIISjvT5YE5tOY5RHTKZTIA
                              api-version:
                                type: string
                                example: '2023-09-30'
                          data:
                            type: array
                            items:
                              type: object
                              properties:
                                instrument:
                                  type: string
                                  example: btc_usd
                                exchange:
                                  type: string
                                  example: gdax
                                exchangeTimestamp:
                                  type: integer
                                  example: 1690156800000
                                  default: 0
                                open:
                                  type: number
                                  example: 30081.61
                                  default: 0
                                high:
                                  type: number
                                  example: 30099.99
                                  default: 0
                                low:
                                  type: integer
                                  example: 28850
                                  default: 0
                                close:
                                  type: number
                                  example: 29176.98
                                  default: 0
                                volume:
                                  type: number
                                  example: 14484.27543962
                                  default: 0
      deprecated: false
  /spot/batch-ohlcv/{exchange}:
    get:
      summary: Batch Historical
      description: >-
        Delivers historical OHLCV (Open, High, Low, Close, Volume) data in batch
        format for multiple Spot market trading pairs, providing comprehensive
        price and volume history over specified time ranges for efficient
        analysis across multiple assets.
      operationId: batch-historical-ond
      parameters:
        - name: exchange
          in: path
          description: The exchange for which to retrieve OHLCV
          schema:
            type: string
            default: binance
          required: true
        - name: instruments
          in: query
          description: >-
            **[Required]** The pair(s) for which to retrieve the most current
            data (comma separated).  **[Maximum]** 50 pairs
          required: true
          schema:
            type: string
            default: btc_usdt,eth_usdt
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive).  **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive).  **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: timeInterval
          in: query
          description: >-
            **[Optional]** Time interval. **[Defaults]** `minutes | hours |
            days*`
          schema:
            type: string
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.
            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: null
                        api-version: '2023-09-30'
                      data:
                        - instrument: btc_usdt
                          exchangeTimestamp: 1735948800000
                          open: 98174.17
                          high: 98778.43
                          low: 97514.79
                          close: 98220.5
                          volume: 8990.05651
                        - instrument: eth_usdt
                          exchangeTimestamp: 1735948800000
                          open: 3609
                          high: 3671.6
                          low: 3572.42
                          close: 3656.88
                          volume: 229266.3133
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          next:
                            type: string
                          api-version:
                            type: string
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            instrument:
                              type: string
                            exchangeTimestamp:
                              type: integer
                            open:
                              type: number
                            high:
                              type: number
                            low:
                              type: number
                            close:
                              type: number
                            volume:
                              type: number
      deprecated: false
      security:
        - ApiKeyAuth: []
  /spot/reference-rates/{assetId}:
    get:
      summary: Hourly & Daily Reference Rates
      description: >-
        Retrieve the historical (time series) hourly and daily reference rates
        for a specific asset.
      operationId: spot-reference-rates-historical
      parameters:
        - name: assetId
          in: path
          description: The id of the asset for which reference rates are needed.
          schema:
            type: string
            enum:
              - btc
              - eth
            default: btc
          required: true
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes data after this date
            (inclusive).  **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes data before this date
            (exclusive).  **[Formats]** `seconds | milliseconds | iso8601`
            **[Examples]** `1578531600 | 1578531600000 | 2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: timeFormat
          in: query
          description: '**[Optional]** Time format of the timestamps in the return payload.'
          schema:
            type: string
            enum:
              - milliseconds
              - ms*
              - iso
              - iso8601
              - hr
              - human_readable
            default: hr
        - name: timeInterval
          in: query
          description: Specify the granularity of the desired reference rate.
          schema:
            type: string
            enum:
              - hours
              - days
            default: hours
        - name: dailyTime
          in: query
          description: >-
            Use with `timeInterval=days`.  Filter for the asset's daily
            reference rate at 16:00 hours for a specific timezone. 
            **[Examples]** `dailyTime=T16:00+08:00` is 16:00 Singapore & Hong
            Kong
          schema:
            type: string
            enum:
              - T16:00-05:00
              - T16:00-04:00
              - T16:00+00:00
              - T16:00+01:00
              - T16:00+04:00
              - T16:00+08:00
              - T16:00+09:00
        - name: direction
          in: query
          description: >-
            The order in which to return the results (ascending or descending).
            By default, records are returned in descending order, so the most
            recent records are returned first.
          schema:
            type: string
            enum:
              - desc
              - asc
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        timeInterval: hours
                        api-version: '2023-09-30'
                      data:
                        assetARCID: eth
                        assetSymbol: eth
                        assetName: Ether
                        currency: usd
                        referenceRates:
                          - timestamp: 2023-11-05 18:00:00 000
                            unitPrice: 1896.2722539256226
                          - timestamp: 2023-11-05 19:00:00 000
                            unitPrice: 1892.070741279808
                          - timestamp: 2023-11-05 20:00:00 000
                            unitPrice: 1888.6184732343843
                          - timestamp: 2023-11-05 21:00:00 000
                            unitPrice: 1870.1300714429476
                          - timestamp: 2023-11-05 22:00:00 000
                            unitPrice: 1881.8808731384033
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                    default: 0
                  title:
                    type: string
                    example: OK
                  description:
                    type: string
                    example: Successful request
                  payload:
                    type: object
                    properties:
                      metadata:
                        type: object
                        properties:
                          timeInterval:
                            type: string
                            example: hours
                          api-version:
                            type: string
                            example: '2023-09-30'
                      data:
                        type: object
                        properties:
                          assetARCID:
                            type: string
                            example: eth
                          assetSymbol:
                            type: string
                            example: eth
                          assetName:
                            type: string
                            example: Ether
                          currency:
                            type: string
                            example: usd
                          referenceRates:
                            type: array
                            items:
                              type: object
                              properties:
                                timestamp:
                                  type: string
                                  example: 2023-11-05 18:00:00 000
                                unitPrice:
                                  type: number
                                  example: 1896.2722539256226
                                  default: 0
      deprecated: false
      security:
        - ApiKeyAuth: []
  /options/exchanges/information:
    get:
      summary: Instruments
      description: >-
        Provides metadata for available options contracts on supported
        exchanges, including exchange names, contract symbols, and data types
        (Order Book Events, Ticker, Trades, etc.) with associated data coverage
        periods.
      operationId: options-exchanges-pairs
      parameters:
        - name: exchange
          in: query
          description: >-
            **[Optional]** Only return data for the given exchange(s) (comma
            separated)
          schema:
            type: string
            default: deribit
        - name: instrument
          in: query
          description: Only return data for the given pair.
          schema:
            type: string
        - name: includeInactive
          in: query
          description: >-
            **[Optional]** If true, endpoint returns all instruments, including
            delisted ones. **[Defaults]** `True | False*`.
          schema:
            type: boolean
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.
            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
        - name: size
          in: query
          description: >-
            **[Optional]** The number of records per page (only available when
            `includeInactive=true`).
          schema:
            type: integer
            format: int32
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/markets/options/exchanges/information?cursor=N4IglgdgxgNgrgEwKYEkIEMoBcwDckgBcAZujAM5IA0408yAqhOXAA6sD2ATlkggKIAPKAAt0EAOZJyRUhWogcAWyQAxbkvRYiIJWBgwwlKBwgIZNYhq06AVuVMgardFKIBGGuTAAvAoQBWAAYggF8gA
                        api-version: '2023-09-30'
                      data:
                        - exchange: bybit
                          instrument: BTC-16AUG24-50000-C
                          openInterest:
                            startDate: 1721895646123
                            endDate: 1722297559023
                          orderBookSnapshot:
                            startDate: 1721895180679
                            endDate: 1722370735780
                          orderBookEvent:
                            startDate: 1721899231080
                            endDate: 1721946070781
                          ticker:
                            startDate: 1721895381123
                            endDate: 1722370799223
              schema:
                oneOf:
                  - title: Success
                    type: object
                    properties:
                      status:
                        type: integer
                        example: 200
                        default: 0
                      title:
                        type: string
                        example: OK
                      description:
                        type: string
                        example: Successful request
                      payload:
                        type: object
                        properties:
                          metadata:
                            type: object
                            properties:
                              next:
                                type: string
                                example: >-
                                  https://api.amberdata.com/markets/options/exchanges/information?cursor=N4IglgdgxgNgrgEwKYEkIEMoBcwDckgBcAZujAM5IA0408yAqhOXAA6sD2ATlkggKIAPKAAt0EAOZJyRUhWogcAWyQAxbkvRYiIJWBgwwlKBwgIZNYhq06AVuVMgardFKIBGGuTAAvAoQBWAAYggF8gA
                              api-version:
                                type: string
                                example: '2023-09-30'
                          data:
                            type: array
                            items:
                              type: object
                              properties:
                                exchange:
                                  type: string
                                  example: bybit
                                instrument:
                                  type: string
                                  example: BTC-16AUG24-50000-C
                                openInterest:
                                  type: object
                                  properties:
                                    startDate:
                                      type: integer
                                      example: 1721895646123
                                      default: 0
                                    endDate:
                                      type: integer
                                      example: 1722297559023
                                      default: 0
                                orderBookSnapshot:
                                  type: object
                                  properties:
                                    startDate:
                                      type: integer
                                      example: 1721895180679
                                      default: 0
                                    endDate:
                                      type: integer
                                      example: 1722370735780
                                      default: 0
                                orderBookEvent:
                                  type: object
                                  properties:
                                    startDate:
                                      type: integer
                                      example: 1721899231080
                                      default: 0
                                    endDate:
                                      type: integer
                                      example: 1721946070781
                                      default: 0
                                ticker:
                                  type: object
                                  properties:
                                    startDate:
                                      type: integer
                                      example: 1721895381123
                                      default: 0
                                    endDate:
                                      type: integer
                                      example: 1722370799223
                                      default: 0
      deprecated: false
  /options/exchanges/reference:
    get:
      summary: Reference
      description: >-
        Provides essential reference details for options contracts on supported
        exchanges, including contract symbols, underlying assets, strike prices,
        expiration dates, settlement types, price and volume limits, and
        precision requirements.
      operationId: options-exchanges-reference
      parameters:
        - name: exchange
          in: query
          description: >-
            **[Optional]** Only return data for the given exchange(s) (comma
            separated)
          schema:
            type: string
        - name: instrument
          in: query
          description: Only return data for the given pair.
          schema:
            type: string
        - name: includeInactive
          in: query
          description: >-
            **[Optional]** If true, endpoint returns all instruments, including
            delisted ones. **[Defaults]** `True | False*`.
          schema:
            type: boolean
        - name: size
          in: query
          description: >-
            **[Optional]** The number of records per page (only available when
            `includeInactive=true`).
          schema:
            type: integer
            format: int32
        - name: startDate
          in: query
          description: >-
            **[Optional]** Payload only includes instruments which have
            expiration after this date (inclusive). **[Formats]** `seconds |
            milliseconds | iso8601` **[Examples]** `1578531600 | 1578531600000 |
            2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: >-
            **[Optional]** Payload only includes instruments which have
            expiration before this date (exclusive). **[Formats]** `seconds |
            milliseconds | iso8601` **[Examples]** `1578531600 | 1578531600000 |
            2020-09-01T01:00:00`
          schema:
            type: string
            format: date-time
        - name: includeOriginalReference
          in: query
          description: >-
            **[Optional]** If true, endpoint returns originalReference.
            **[Defaults]** `True | False*`.
          schema:
            type: boolean
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.
            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Success:
                  value:
                    status: 200
                    title: OK
                    description: Successful request
                    payload:
                      metadata:
                        next: >-
                          https://api.amberdata.com/markets/options/exchanges/reference?cursor=N4IglgdgxgNgrgEwKYEkIEMoBcwDckgBcAZujAM5IA0408yA8gE5gDmkZASksUk0tAIkylGpFiIkAVQjk4AB3kB7JliQIAogA8oAC3QRWSckVIVqIHAFskAMRVX0WIiCtgYMMJShKICEzTEDk4uAFbkviA08uhGRACMNORgAF5CAKwADJkAvkA
                        api-version: '2023-09-30'
                      data:
                        - exchange: bybit
                          instrument: BTC-16AUG24-50000-C
                          baseSymbol: BTC
                          quoteSymbol: USDC
                          market: options
                          exchangeEnabled: true
                          limitsPriceMin: 5
                          limitsPriceMax: 10000000
                          limitsVolumeMin: null
                          limitsVolumeMax: null
                          limitsMarketMin: 0.01
                          limitsMarketMax: 500
                          limitsLeverageMin: null
                          limitsLeverageMax: null
                          limitsLeverageSuperMax: null
                          limitsCostMin: null
                          limitsCostMax: null
                          precisionPrice: 5
                          precisionVolume: 0.01
                          precisionBase: null
                          precisionQuote: null
                          listingTimestamp: 1721894400000
                          contractUnderlying: BTC
                          contractExpirationTimestamp: 1723795200000
                          contractPeriod: weekly
                          contractSize: null
                          contractSettleType: option
                          contractSettleSymbol: USDC
                          optionType: call
                          optionStrikePrice: 50000
              schema:
                oneOf:
                  - title: Success
                    type: object
                    properties:
                      status:
                        type: integer
                        example: 200
                        default: 0
                      title:
                        type: string
                        example: OK
                      description:
                        type: string
                        example: Successful request
                      payload:
                        type: object
                        properties:
                          metadata:
                            type: object
                            properties:
                              next:
                                type: string
                                example: >-
                                  https://api.amberdata.com/markets/options/exchanges/reference?cursor=N4IglgdgxgNgrgEwKYEkIEMoBcwDckgBcAZujAM5IA0408yA8gE5gDmkZASksUk0tAIkylGpFiIkAVQjk4AB3kB7JliQIAogA8oAC3QRWSckVIVqIHAFskAMRVX0WIiCtgYMMJShKICEzTEDk4uAFbkviA08uhGRACMNORgAF5CAKwADJkAvkA
                              api-version:
                                type: string
                                example: '2023-09-30'
                          data:
                            type: array
                            items:
                              type: object
                              properties:
                                exchange:
                                  type: string
                                  example: bybit
                                instrument:
                                  type: string
                                  example: BTC-16AUG24-50000-C
                                baseSymbol:
                                  type: string
                                  example: BTC
                                quoteSymbol:
                                  type: string
                                  example: USDC
                                market:
                                  type: string
                                  example: options
                                exchangeEnabled:
                                  type: boolean
                                  example: true
                                  default: true
                                limitsPriceMin:
                                  type: integer
                                  example: 5
                                  default: 0
                                limitsPriceMax:
                                  type: integer
                                  example: 10000000
                                  default: 0
                                limitsVolumeMin: {}
                                limitsVolumeMax: {}
                                limitsMarketMin:
                                  type: number
                                  example: 0.01
                                  default: 0
                                limitsMarketMax:
                                  type: integer
                                  example: 500
                                  default: 0
                                limitsLeverageMin: {}
                                limitsLeverageMax: {}
                                limitsLeverageSuperMax: {}
                                limitsCostMin: {}
                                limitsCostMax: {}
                                precisionPrice:
                                  type: integer
                                  example: 5
                                  default: 0
                                precisionVolume:
                                  type: number
                                  example: 0.01
                                  default: 0
                                precisionBase: {}
                                precisionQuote: {}
                                listingTimestamp:
                                  type: integer
                                  example: 1721894400000
                                  default: 0
                                contractUnderlying:
                                  type: string
                                  example: BTC
                                contractExpirationTimestamp:
                                  type: integer
                                  example: 1723795200000
                                  default: 0
                                contractPeriod:
                                  type: string
                                  example: weekly
                                contractSize: {}
                                contractSettleType:
                                  type: string
                                  example: option
                                contractSettleSymbol:
                                  type: string
                                  example: USDC
                                optionType:
                                  type: string
                                  example: call
                                optionStrikePrice:
                                  type: integer
                                  example: 50000
                                  default: 0
      deprecated: false
  /options/liquidations/information:
    get:
      summary: Information
      description: >-
        Provides availability details for options contract liquidation data
        across supported exchanges, including contract symbols, underlying
        assets, and data coverage periods for tracking liquidation events.
      operationId: options-liquidations-information
      parameters:
        - name: exchange
          in: query
          description: >-
            **[Optional]** The exchange(s) for which to retrieve the most
            current data (comma separated). **[Default]** All available
            exchanges.
          schema:
            type: string
        - name: instrument
          in: query
          description: Only return data for the given pair.
          schema:
            type: string
        - name: includeInactive
          in: query
          description: >-
            **[Optional]** If true, endpoint returns all instruments, including
            delisted ones. **[Defaults]** `false* | true`
          schema:
            type: boolean
        - name: timeFormat
          in: query
          description: >-
            **[Optional]** Time format of the timestamps in the return payload.
            **[Defaults]** `milliseconds | ms* | iso | iso8601 | hr |
            human_readable`
          schema:
            type: string
        - name: Accept-Encoding
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: gzip, deflate, br
        - name: api-version
          in: header
[...]
